.content_pp{
padding: 8px 14px 8px 14px;
margin-bottom: 5px;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
background: url(../images/content_p.png) repeat-x;
border: 1px solid #fff;
border-radius: 4px;
}


a { text-decoration:none; color:#0088cc; }
/*===变手====*/
#mytable font{
   cursor:pointer;
}
#gaiyao p{
   font-size:15px;
}
ul li{
	list-style-type:none;
}
.navchang{
	background:url(../images/nv/nav_bg.gif) repeat-x;
}
.biank{
border: 1px solid rgb(136, 214, 242);
}
.bg_color{
    background-color::#aaaaaa;
}
/*===============悬浮层==================*/
.fceng {
    position: absolute;
    background-color: #cfc;
    padding: 1px;
    border: 2px solid #9c9;
    border-radius: 4px;
	left:500px;
}
.footer{
    text-align: center;
    padding: 30px 0px;
    margin-top: 70px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}


#head_info{
   height:88px;
   float:left;
   text-align:right;
}

#head_info p{
   line-height: 27px;
   color: rgb(153, 153, 153);
   margin:0px;
}
.zhuce{
    width:400px;
    margin:auto;
    
}
#home ul li{
	float:left;
	list-style-type:none;

}


#box_nv{
     overflow:hidden;
	 height:48px;
}
#box_nv ul{
    padding-left:15px;
    margin:0px;
    float:left;
	width:100%;
	
}
#box_nv ul li {
	list-style-type:none;
	width:100px;
	height:48px;
	background:url(../images/nv/nav_li_right.gif) no-repeat right;
	float:left;
	line-height:48px;
	font-weight:bold;
}
#box_nv ul li a {
	color:#ffffff;
	display:block;
	text-align:center;
}

#box_nv ul li.active {
	line-height:37px;
	
}
#box_nv ul li em{
    width:35px;
	height:21px;
    display:inline-block;
	position:absolute;
	top:-20px;
	left:40px;
	background:url(../images/nv/bid_new.gif) no-repeat;
}
#box_nv ul li a:hover {
	background:url(../images/nv/nav_li_hover.gif) no-repeat  center;
	line-height:37px;
	text-decoration:none;
}

#box_nv ul li.active a {
	background:url(../images/nv/nav_li_hover.gif) no-repeat center;
}
.nv_ul_r {
	background:url(../images/nv/nav_r_bg.gif) no-repeat right;
	height:48px;
	float:right;
	width:9px;
}
.nv_ul_l {
	background:url(../images/nv/nav_l_bg.gif) no-repeat left;
	height:48px;
	float:left;
	width:9px;
}

#footer{
     width: 950px;
     margin: 0px auto;
     height: 230px;
     overflow: hidden;
	 position:relative;

}
.footer_nav{
    height: 29px;
    line-height: 29px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: url(/public/images/sucai/footer.png) no-repeat scroll 0% 0% transparent;
}
.footer_nav a{
    margin-right: 4px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}
.copyright{
    font-family: Arial,Helvetica,sans-serif;
    padding-top: 8px;
    text-align: center;
    line-height: 12px;
    position: relative;
}
.police1{
    width: 41px;
    height: 69px;
    position: absolute;
    left: 100px;
    top: 20px;
}
.police2{
    width: 78px;
    height: 82px;
    position: absolute;
    right: 100px;
    top: 20px;
}

/*=============notename=============*/
.notename a{
     color: rgb(0, 116, 192);
}
.line{
     background: url(/public/images/sucai/line.png) repeat-x scroll 0% 0% transparent;
     height: 24px;
     line-height: 24px;
     text-align: center;
}
.line span{
    margin-left:20px;
}
.content_p{
    padding: 20px 0px;
    height: auto;
	width:720px;
	margin:auto;
    min-height: 300px;
    font-size: 16px;
}
/*=============简略、常用=============*/
.sar20{
     width:20px;
	 height:52px;

}
.sar300_30{
     width:300px;
	 height:30px;

}

.sar700_auto{
     width:700px;
}
.sar300_auto{
     width:300px;
}

.bar10{
     height:10px;
	 clear:both;

}
.bar20{
     height:20px;
	 clear:both;

}
.bar30{
     height:30px;
	 clear:both;

}
.clear{
    clear:both;
}
.input{
	width:200px;
	height:30px;
}
.select{
	width:100px;
	height:20px;
}
.f-r{
float:right;
}
.f-l{
float:left;
}
.t-r{
text-align:right;
}
.t-l{
text-align:left;
}
.t-c{
text-align:center;
}
.bbb{
background:#bbb;
}
.aaa{
background:#aaa;
}
.ccc{
background:#ccc;
}
.w{
background:#ffffff;
}
.o-h{
    overflow:hidden;
}
.s-h{
    display:none;
}
.w-a{
    position:absolute;
}
.w-r{
    position:relative;
}



#content_hd{
    background: url(../images/main/yunhd.png) no-repeat scroll 0px top transparent;
    border: 1px solid rgb(136, 214, 242);
	min-height:500px;
	position:relative;
	margin:0px 5px;
}
#content_bd{
    padding:0px 20px;
}
#mytable h1{
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    font-family: 微软雅黑;
    color: rgb(255, 102, 0);
    margin-bottom: 10px;
}
#content_bd  p{
    text-indent : 2em;
	font-size: 16px;
}

#content_bd div {
    text-indent : 0em;
	font-size: 14px;
	
}
#content_bd .popover-content p{
    text-indent : 0em;
	font-size: 14px;
	
}
.zdzi p{
    text-indent : 0em;
}
.shumu h3{

display:block;
margin:10px 5px;
}
/*===================选书页面==============*/
.shumubox{ height:336px;overflow:hidden; width:1000px;}

/*===================书目背景==============*/
.shumubox .ones .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .onex .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
.shumubox .twos .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .twox .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
.shumubox .threes .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .threex .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
.shumubox .fours .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .fourx .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
.shumubox .fives .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .fivex .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
.shumubox .sixs .handle{ background:url(../images/sucai/slide04.png) no-repeat left top;}
.shumubox .sixx .handle{ background:url(../images/sucai/slide05.png) no-repeat left top;}
/*===================边框和书目==============*/
.shumu .slide{
    float:left;
    display:none;
    width:744px;
    height:331px;
    border-width: 2px 2px 2px medium;
    border-style: solid solid solid none;
}
.shumu .handle{
    float:left;
	width:40px;
	height:336px;
	cursor:pointer;
	overflow:hidden;
}
/*===================边框颜色==============*/
.ones .slide{width:900px;border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.onex .slide{width:900px;border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
.twos .slide{border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.twox .slide{border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
.threes .slide{border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.threex .slide{border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
.fours .slide{border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.fourx .slide{border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
.fives .slide{width:830px;border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.fivex .slide{width:830px;border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
.sixs .slide{border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);}
.sixx .slide{border-color: rgb(50, 146, 8) rgb(50, 146, 8) rgb(50, 146, 8);}
/*=================================*/
.kelist{
    width:744px;
	height:335px;
}
.ones .kelist,.onex .kelist{
    width:900px;
	height:335px;
}
.fives .kelist , .fivex .kelist{
    width:830px;
	height:335px;
}
.kelist ul li{
   width:135px;
   height:20px;
   float:left;
   overflow:hidden;
   margin:5px 0px;
}
/*================================课文内容页===================================================*/
.zh_l_ke{
    width:560px;
}
/*================左边===============*/
.kecontent{
    width:544px;
    background: url(../images/main/yunhd.png) no-repeat scroll 0px top transparent;
    border: 1px solid rgb(136, 214, 242);
	min-height:500px;
	position:relative;
}
.kecontent_hd{
    padding-left: 30px;
    height: 38px;
    line-height: 38px;
}
.kecontent_bd h1{
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    font-family: 微软雅黑;
    color: rgb(255, 102, 0);
    margin-bottom: 10px;
}
.content_ke{
    padding: 20px 0px;
    height: auto;
    width: 520px;
    margin: auto;
    min-height: 300px;
    font-size: 16px;

}


/*===================右边==============*/
.zh_r_ke{
    width:350px;
}
/*========侧边手风琴===========*/
.slidexj .handles{ background:#aaa;}/*===ceshi=====*/
.slidexj .handles{
    float:left;
	width:440px;
	height:40px;
	cursor:pointer;
	overflow:hidden;
}
.slidexj .slide{
    float:left;
	width:438px;
	height:300px;
	display:none;
	overflow:hidden;
}

.jxdd .slide{
    width:436px;
	min-height:100px;
    border-width: medium 2px 2px 2px ;
    border-style: none solid solid solid ;
    border-color: rgb(199, 96, 5) rgb(199, 96, 5) rgb(199, 96, 5);
}
.content_ke .handle{}
.content_ke .slide{
    width:auto;
	background-color: #dfd;
    padding: 4px;
    border: 2px solid #9c9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display:none;
}
.pictu{
    width:436px;
	height:auto;
}
.jieshiyi{
    width:200px;
}
/*===================修辞==============*/
.huajuzi001{
    border-color: #AC1D00;
    border-style: none none inset;
}
.biyu{
    border-color: #AC1D00;
    border-style: none none inset;
}
.niren{
    border-color: #BD1D00;
    border-style: none none inset;
}
.paibi{
    border-color: #606FFF;
    border-style: none none double;
}
.kuazhang{
    border-color: #606FFF;
    border-style: none none double;
}
.fanwen{
    border-color: #606FFF;
    border-style: none none double;
}
.shewen{
    border-color: #606FFF;
    border-style: none none double;
}
.duiou{
    border-color: #606FFF;
    border-style: none none double;
}
.fanfu{
    border-color: #606FFF;
    border-style: none none double;
}
/*===================说明方法==============*/
.julizi{
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
.dabifang{
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
.lieshuzi{
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
.zuobijiao{
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
.fenleibie{
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
/*===================说明方法==============*/

.xuxian{
    padding-bottom:3px;
    border-color : #AC1D00;
	border-bottom-style : dotted;
}
.zdzi{
    border-color : #FF7E60;
	border-bottom-style : dotted;
}
/*===================除法==============*/
.chufa{
    width:100px;
	min-height:100px;
    background: url(../images/shuxue/2chu1.png);
}
.beichushu{
    top:23px;
	left:45px;
}
.chushu{
    top:23px;
	left:15px;
}
.shangxchushu{
    top:40px;
	left:45px;
}
.yushu{
    top:58px;
	left:53px;
}
.shang{
    top:0px;
	left:53px;
}
/*===================编辑每个句子==============*/
.bianji_h{
    display:none;
}
.bianji_s{
    display:inline-block;
}

.showWindow:hover{color:#FF0000}

.win_bg{background:#CCC; opacity:0.2; filter:alpha(opacity=20); position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:998;}
.winTitle{background:#9DACBF; height:20px; line-height:20px}
.winTitle .title_left{font-weight:bold; color:#FFF; padding-left:5px; float:left}
.winTitle .title_right{float:right}
.winTitle .title_right a{color:#000; text-decoration:none}
.winTitle .title_right a:hover{text-decoration:underline; color:#FF0000}
.winContent{padding:5px;}

.index_left {
	width:705px;
	overflow:hidden;
	margin-top:8px;
}
.top_left {
	height:495px;
	width:705px;
	overflow:hidden;
}
.facus_left {
	height:495px;
	overflow:hidden;
}
.index_slide {
	width:300px;
	height:210px;
	border:1px solid #ccc;
}
.focusBox {
	position:relative;
	width:300px;
	height:210px;
	overflow:hidden;
	font:12px/1.5 Verdana,Geneva,sans-serif;
	text-align:left;
	background:white;
}
.focusBox ul{
	margin:0px;
}
.focusBox ul li{
	list-style-type:none;
}
.focusBox .pic a img {
	width:300px;
	height:210px;
	display:block;
}
.focusBox .txt-bg {
	position:absolute;
	bottom:0;
	z-index:1;
	height:30px;
	width:100%;
	background:#333;
	filter:alpha(opacity=40);
	opacity:0.4;
	overflow:hidden;
}
.focusBox .txt {
	position:absolute;
	bottom:0;
	z-index:2;
	height:30px;
	width:100%;
	overflow:hidden;
}
.focusBox .txt li {
	height:30px;
	line-height:30px;
	position:absolute;
	bottom:-30px;
	list-style-type:none;
}
.focusBox .txt li a {
	display:block;
	color:white;
	padding:0 0 0 10px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.focusBox .num {
	position:absolute;
	z-index:3;
	bottom:8px;
	right:5px;
}
.focusBox .num li {
	float:left;
	position:relative;
	width:18px;
	height:15px;
	line-height:15px;
	overflow:hidden;
	text-align:center;
	margin-right:1px;
	cursor:pointer;
}
.focusBox .num li a,.focusBox .num li span {
	position:absolute;
	z-index:2;
	display:block;
	color:white;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-decoration:none;
}
.focusBox .num li span {
	z-index:1;
	background:black;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.focusBox .num li.on a,.focusBox .num a:hover {
	background:#2267b5;
}