.m-materialimage-list{
    padding: 20px;
}

.m-materialimage-list ul{
    margin: 0px;
    padding: 0px;
}
.m-materialimage-list .u-imagelist-imageitem {
    float: left;
    text-align: center;
    *width: 169px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 1px solid #e7e7eb;
    list-style: none;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-content {
    position: relative;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-content .content-thumb {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 169px;
    height: 169px;
    border-bottom: 1px solid #e7e7eb;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-content .content-check {
    height: 32px;
    line-height: 32px;
    display: block;
    overflow: hidden;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-content .content-check .check-label {
    margin-right: 0;
    line-height: 1.6;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    margin-right: 1em;
}


.m-materialimage-list .u-imagelist-imageitem .imageitem-content .content-check .label-name {
    display: inline-block;
    padding: 0;
    width: 118px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-materialimage-list .u-imagelist-imageitem .imageitem-opr {
    background-color: #f4f5f9;
    border-top: 1px solid #e7e7eb;
}

.m-materialimage-list .u-imagelist-imageitem .imageitem-opr ul {
    margin: 0px;
    padding: 0px;
}

.m-materialimage-list .u-imagelist-imageitem .imageitem-opr ul li{
    list-style: none;
}

.m-materialimage-list.choose_materialimage .u-imagelist-imageitem .imageitem-opr {
    display: none;
}

.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .size1of3 {
    width: 33.33%;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .opr-item {
    text-align: center;
    float: left;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .opr-item a {
    display: block;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .opr-itembtn {
    border: 0;
    margin: 5px 0;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .opr-item:first-child .opr-itembtn {
    border-left-width: 0;
    display: inline-block;
    vertical-align: top;
    width: 98.5%;
    cursor: pointer;
    border-left: 1px solid #e7e7eb;
}
.m-materialimage-list .u-imagelist-imageitem .imageitem-opr .opr-ul .no_extra.opr-item {
    float: none;
    width: auto;
    overflow: hidden;
}