.m-materialnews-list {
    margin: 0 30px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    letter-spacing: normal;
    font-size: 14px;
}
.m-materialnews-list .u-newslist-newsitem{
    width: 300px;
    float: left;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    color: #666;
}

.m-materialnews-list .u-newslist-newsitem .newsitem-content {
    position: relative;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-header {
    font-size: 13px;
    line-height: 20px;
    margin: 0 14px;
    padding: 12px 0;
    border-bottom: 1px solid #e7e7eb;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-header .newsdate {
    font-weight: 400;
    font-style: normal;
}



/*单新闻*/
.m-materialnews-list  .u-newslist-newsitem .newsitem-content .content-onenews {
    position: relative;
    padding: 12px 14px;
}

.m-materialnews-list  .u-newslist-newsitem .newsitem-content .content-onenews  .onenews-title {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    color: #222;
    margin: 0;
}
.m-materialnews-list  .u-newslist-newsitem .newsitem-content  .content-onenews .onenews-title a {
    display: block;
    color: #222;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-onenews  .onenews-thumb{
    margin-top: 5px;
    height: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-onenews .onenews-desc {
    padding: 5px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-onenews:hover .newsitem-preview {
    display: block;
}
/*多新闻第一个*/
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinewsfirst {
    margin: 12px 14px 12px;
    position: relative;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinewsfirst .multinews-title {
    font-size: 14px;
    padding-top: 0;
    line-height: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: rgba(0,0,0,0.6) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content  .content-multinewsfirst .multinews-title a {
    padding: 0 8px;
    color: #fff;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinewsfirst .multinewsfirst-thumb {
    margin-top: 5px;
    height: 160px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinewsfirst:hover .newsitem-preview {
    display: block;
    left: -14px;
    right: -14px;
    top: -12px;
    bottom: -12px;
}
/*多新闻*/
.m-materialnews-list .u-newslist-newsitem .newsitem-content  .content-multinews {
    position: relative;
    padding: 12px 14px;
    *zoom: 1;
    border-top: 1px solid #e7e7eb;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content  .content-multinews .multinews-title {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    color: #222;
    margin: 0;
}
.m-materialnews-list  .u-newslist-newsitem .newsitem-content  .content-multinews .multinews-title a {
    display: block;
    color: #222;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content  .content-multinews .multinews-thumb {
    float: right;
    width: 78px;
    height: 78px;
    margin-left: 14px;
    margin-top: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinews:hover .newsitem-preview {
    display: block;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-content .content-multinews::after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

/*阴影*/
.m-materialnews-list .u-newslist-newsitem .newsitem-preview{
    display: none;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endcolorstr = '#99000000');
    color: #fff;
    z-index: 1;
    text-align: center;
    padding: 14px;
}

.m-materialnews-list .u-newslist-newsitem .newsitem-preview .preview-content{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-preview .preview-box{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.m-materialnews-list .u-newslist-newsitem .newsitem-opr {
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7eb;
}
.m-materialnews-list.choose_materialnews .u-newslist-newsitem .newsitem-opr {
    display: none;
}
.m-materialnews-list.show_in_material_box .u-newslist-newsitem .newsitem-opr {
    display: none;
}
.m-materialnews-list .u-newslist-newsitem .newsitem-opr ul {
    overflow: hidden;
    margin-bottom: 0px;
}

.m-materialnews-list .u-newslist-newsitem .appmsg_opr_item {
    float: left;
    line-height: 44px;
    height: 44px;
}
.m-materialnews-list .u-newslist-newsitem  .size1of2 {
    width: 50%;
}
.m-materialnews-list .u-newslist-newsitem  .grid_item {
    float: left;
}
.m-materialnews-list .u-newslist-newsitem  .grid_item.no_extra {
    float: none;
    width: auto;
    overflow: hidden;
}
.m-materialnews-list .u-newslist-newsitem  .appmsg_opr_item a.no_extra {
    border-right-width: 0;
}
.m-materialnews-list .u-newslist-newsitem  .appmsg_opr_item a {
    display: block;
    border-right: 1px solid #e7e7eb;
    text-align: center;
    text-decoration: none;
}


.m-materialnews-list.choose_materialnews .u-newslist-newsitem:hover .hover_area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: RGBA(0,0,0,.4);
    z-index: 100;
    text-align: center;
    display: none111;
}