.container {position: relative; width:1200px; font:12px/24px "瀹嬩綋",Arial,Helvetica,sans-serif; color:#333; margin:auto;}
#flashBg{margin:auto;width:100%;height:350px;clear:both;padding:0;z-index:1;position:relative}
#flashBg .container{position:relative;z-index:999}
.clearDiv {
    clear: both;
    height: 0px;
}
.notice_container{position:absolute; width:250px;right:0; z-index:4;  height:auto; margin-top:5px;}
.notice_container .box_header{width:224px;  font-family:"\5FAE\8F6F\96C5\9ED1"; background-color: #fff; padding:0 13px;border-bottom:0;height:45px;display:block;overflow:hidden;clear:both;}
.notice_container .box_header li.select{border-bottom:1px solid #ff6600;color:#ff6600;font-weight:700;background:rgba(255,255,255,.7)}
.notice_container .box_header li{background:rgba(255,255,255,.7);width:auto;text-align:center;height:40px;float:left;cursor:pointer;border-bottom:1px solid #e9e9e9;display:block;padding: 0 10px;font-weight: normal;line-height:44px;}
.notice_container .box_header li:hover{border-bottom:1px solid #ff6600;background: #fff;color:#ff6600; font-weight: normal;}
.notice_container .box_header li a{color:#666;line-height:60px;display:block;padding: 0 10px;font-weight: normal;}
.notice_container .box_header li a:hover{color:#ff6600; font-weight: normal;}
.notice_container .box_header li.select{color:#ff6600; font-weight:700;background:rgba(255,255,255,.7)}
.notice_container .box_header li.borl{width:auto;}
.notice_container .box_detailbox{background-color:#fff; height:136px; width:250px;}
.notice_container .box_detail{  padding:3px 15px; }
.notice_container .box_detail li{height:25px;line-height:25px;overflow:hidden}
.notice_container .box_detail a{color:#666;display:block;padding-left:15px;overflow:hidden;background:url(/static/weike/images/libg.png) no-repeat left 11px;-o-transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;transition:all .2s;height:25px}
.notice_container .box_detail a:hover{background-position:left -14px;color:#eb2626;}
.notice_container .box_detail .boxA{line-height:20px;margin:20px 7px 0 5px; list-style: none;float: left;background: #f5f5f5;width: 58px; height: 58px;display: block;font-size:14px;text-align: center;padding:20px 0 0 0; border:solid 1px #e5e5e5; font-family:"\5FAE\8F6F\96C5\9ED1";}
.notice_container .box_detail .boxA3{width: 48px;padding:20px 5px 0 5px;}
.notice_container .box_detail .boxAC{margin-right: 0;}
.notice_container .box_detail .boxA:hover{background: #ff6600;border:solid 1px #ff7d27;color:#fff;}
.notice_container .postNewtask{height:100px; width: 250px;   background-color: #fff; overflow: hidden;position:relative;}
.notice_container .postNewtask span{ width: 248px; height:48px; background: url(/static/images/biaoyu.jpg) no-repeat; font:normal 14px/52px "\5FAE\8F6F\96C5\9ED1"; display:block; color:#666; text-align:center;}
.notice_container .postNewtask .postNewtaskBtn{font: normal 16px/38px "\5FAE\8F6F\96C5\9ED1"; display: block;margin:auto;color:#FFF;background-color: #0098db;width:150px; margin-top: 2px; border-radius: 4px; text-align: center;}
.notice_container .postNewtask .postNewtaskBtn:hover{background-color: #41b9ee;}
.notice_container .postNewtask .button_reg{float:right;background: url(/static/module/allwechat/images/new_reg_btn.jpg) no-repeat;width:27px;height:122px;display: block; position: relative;top:-91px;right:0;}
.notice_container .userLoginContainer { width: 250px; height:auto; overflow: hidden;}
.notice_container .userLoginContainer .userLogin{padding-left:35px;width:90px;height:38px;display: block;float: left;color:#555;line-height: 38px;text-align: center;background: url(/static/module/allwechat/images/serlogin.jpg) no-repeat 15px 7px #f5f5f5;}
.notice_container .userLoginContainer .rightBorder{padding-left:22px;width:100px;border-right:solid 1px #e5e5e5;height:38px;display: block;float: left;color:#555;line-height: 38px;text-align: center;background: url(/static/module/allwechat/images/elogin.jpg) no-repeat 15px 7px #f5f5f5; }
.notice_container .userLoginContainer .userLogin:hover{color:#ff6600;}
.notice_container .userLoginContainer .rightBorder:hover{color:#ff6600;}
.notice_container .userLoginContainer .u-cxicon{ display:block; width: 250px; height:56px; background: url(/static/images/cxbz-1.jpg);}
.Full_screen{ margin:0 auto; width:100%; background-color:#fff;   -webkit-box-shadow:#ccc 0 0 1px;  -moz-box-shadow:#ccc 0 0 1px;  box-shadow:#ccc 0 0 1px; }
.newHot{width: 1228px; margin:0 auto; border: solid 0 #e5e5e5; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial; }
.newHot .newHotTitle{height: 40px;line-height: 40px; margin:0 14px;  border-bottom: 1px solid #f5f5f5;}
.newHot .newHotTitle .suline{padding: 0 10px;color:#e2e2e2;font-size:12px;}
.newHot .newHotTitle .hot_tab{width:220px;display: block;float: left; }
.newHot .newHotTitle .hot_tab .suline{padding: 0 10px;color:#e2e2e2;font-size:12px;}
.newHot .newHotTitle .hot_tab .suline:hover{padding: 0 10px;color:#e2e2e2;font-size:12px;}
.newHot .newHotTitle .hot_tab li{ height:40px; line-height: 40px; float:left;font-size:18px;position: relative;cursor: pointer;}
.newHot .newHotTitle .hot_tab li:hover{border-bottom: solid 1px #017bbc; color:#017bbc;font-size: 18px;}
.newHot .newHotTitle a{float:right; font-size:12px;}
.newHot .newHotTitle .h{border-bottom:1px solid  #017bbc;  color:#017bbc;font-size: 18px; padding:0 10px; }
.newHot .newHotTitle .notice_task{ height: 40px;overflow: hidden; color:#0098db; padding-left:20px;float: left;background: url(/static/module/allwechat/images/horn.gif) no-repeat 0 14px;position: relative;}
.newHot .newHotTitle .notice_task .notice_task_container{ position: relative;}
.newHot .newHotTitle .notice_task .notice_task_container li{clear: both;float: none;display: block;height: 40px; line-height:42px;}
.newHot .newHotTitle .notice_task .notice_task_container li a{float:left; display: block;  color:#666;}
.newHot .newHotTitle .notice_task .notice_task_container li a:hover{color:#f60; text-decoration:underline;}
.newHot .newHotConatiner{height:285px;width: 1224px;margin:0 auto;overflow: hidden;position: relative;}
.newHot .newHotConatiner ul {height: 280px;position: relative;width: 1450px;}
.newHot .newHotConatiner li{float:left;height: 240px;overflow:hidden; padding: 10px; margin:8px 2px;cursor: pointer; }
.newHot .newHotConatiner li:hover{ padding:10px; box-shadow:#ccc 0 0 10px; -webkit-box-shadow:#ccc 0 0 10px; -moz-box-shadow:#ccc 0 0 10px;}
.newHot .newHotConatiner li img{width:180px; height: 180px;}
.newHot .newHotConatiner .caption{height: 70px;}
.newHot .newHotConatiner .caption .caption_title{height: 30px;line-height: 30px; font-size:14px; clear:both;padding-top:5px;}
.newHot .newHotConatiner .caption .caption_title .price_style{height: 30px;color: #ff6600;display: block;width: 50px;float: left;line-height: 30px;}
.newHot .newHotConatiner .caption .caption_title .title{color: #333;display: block;width: 130px;float: left; font:normal 14px/2 "\5FAE\8F6F\96C5\9ED1", Arial; overflow:hidden;}
.newHot .newHotConatiner .caption .caption_title .title a{color: #333;display: block;width: 130px;float: left;}
.newHot .newHotConatiner .caption .caption_status{height: 24px;clear: both;}
.newHot .newHotConatiner .caption .caption_status .caption_status_s{height: 24px;color: #666;display: block;width: 50px;float: left;}
.newHot .newHotConatiner .caption .caption_status .caption_status_t{height: 24px;color: #999;display: block;width: 130px;float: left;     font-family: '瀹嬩綋';}
.newHot .scroll_point{position: relative;top:-211px; left: 0;height:0;}
.newHot .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newHot .scroll_point .scroll_point_right{position: relative;top:-52px; left:1200px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newHotHelp { height: 35px;line-height: 35px;  width: 1200px; margin:4px 14px 0 14px;  background-color:#fff;}
.newHotHelp .newHotHelp_question {width:290px;color:#606060; float:left; font-size:14px; margin-right:180px; padding:0 40px;display: block;text-align: center;}
.newHotHelp .step {float:left; font-size: 12px;padding: 0 21px;color: #666;background: url(/static/module/allwechat/images/line_1.jpg) no-repeat right 0;}
.newHotHelp .stepLast{float:left; font-size: 12px;color: #666 ;padding-left:10px;}
.newHotServer{width: 1200px;height:468px; margin:auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial; overflow:hidden; background: #fff; margin-top:10px; border-right:1px solid #e9e9e9;}
.newHotServer .newHotServerFrist{width: 265px; height: 468px;float:left;}
.newHotServer .newHotServerFrist .newHostSerFrist_one{width: 265px; height: 468px;background: url(/static/module/allwechat/images/servicetop.jpg) no-repeat;}
.newHotServer .newHotServerFrist .newHostSerFrist_one a{display:block;width: 265px; height: 468px;background: url(/static/module/allwechat/images/servicetop.jpg) no-repeat;}
.newHotServer .newHotServerFrist .newHostSerFrist_one .img{display:block;width: 265px; height: 468px;background: url(/static/module/allwechat/images/servicetop.jpg) no-repeat;}
.newHotServer .newHotServerFrist .newHostSerFrist_two{position: relative;top: -468px;}
.newHotServer .newHotServerFrist .newHotServerInfoListBg {padding:10px;margin:auto;width: 213px;height: 170px; background: #fff;margin-top:251px; -webkit-box-shadow:#999 0 0 10px;  -moz-box-shadow:#999 0 0 10px;  box-shadow:#999 0 0 10px;}
.newHotServer .newHotServerFrist .newHotServerInfoList{padding:10px;width: 213px; height: 170px; margin:auto; z-index: 5; position: relative; top:-200px;  }
.newHotServer .newHotServerFrist .newHotServerInfoList .employList{height: 120px; overflow: hidden; margin-top:6px;}
.newHotServer .newHotServerFrist .newHotServerInfoList .title{color:#333; font-size:14px; padding:5px 3px;font-weight: bold; border-bottom: solid 1px #e5e5e5;}
.newHotServer .newHotServerFrist .newHotServerInfoList li{ width:100%; height:32px; display:block; font:normal 12px/32px "瀹嬩綋";}
.newHotServer .newHotServerFrist .newHotServerInfoList li a{ color:#666;}
.newHotServer .newHotServerFrist .newHotServerInfoList a{float:left;display: block; color:#999;}
.newHotServer .newHotServerFrist .newHotServerInfoList .normalTxt{float:left;display: block; padding: 0 2px;color:#333;}
.newHotServer .newHotServerFrist .newHotServerInfoList .username{color:#666; display: block;float:left; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width:45px; }
.newHotServer .newHotServerFrist .newHotServerInfoList .name{color:#666;display: block;float:left; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 55px;}
.newHotServer .newHotServerFrist .newHotServerInfoList .price{color:#ff6600; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 50px;display: block;float: left;}
.newHotServer .newHotServerList{width: 935px;float: right;background: #fff;}
.newHotServer .newHotServerList .newHotServerTitle{height: 40px; line-height: 40px; padding: 0 16px; background-color:#f5f5f5; border-top:1px solid #e9e9e9;}
.newHotServer .newHotServerList .newHotServerTitle .suline{padding: 0 10px;color:#e2e2e2; font-size:12px;}
.newHotServer .newHotServerList .newHotServerTitle li{ height:40px; color:#666; line-height: 40px; float:left;font-size:16px;position: relative; cursor: pointer; padding: 0 10px;}
.newHotServer .newHotServerList .newHotServerTitle .nhover:hover{border-bottom: 1px solid #017bbc; color:#017bbc;font-size: 16px; padding:0 10px;}
.newHotServer .newHotServerList .newHotServerTitle a{float:right; font-size:12px; color:#017bbc; font-family:"瀹嬩綋";}
.newHotServer .newHotServerList .newHotServerTitle .h{border-bottom: 1px solid #017bbc; color:#017bbc;font-size: 16px; padding:0 10px;}
.newHotServer .newHotServerList .newHotServerConatiner{}
.newHotServer .newHotServerList .newHotServerConatiner li{float:left; height:200px; overflow:hidden;margin:9px 0 0 14px;overflow: hidden;  border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;}
.newHotServer .newHotServerList .newHotServerConatiner li .simg{width:160px; height: 160px;}
.newHotServer .newHotServerList .newHotServerConatiner li .infoContainer {width:160px; height: 160px;overflow: hidden;position:relative;  padding:5px 5px 0px 5px; background-color: #f5f5f5;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo{width:160px; height: 160px; overflow: hidden; position: relative;top:0;left:0;cursor: pointer; font:normal 12px/2 "瀹嬩綋";}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo a{color:#666;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_bg{width:160px; height: 160px;background: #fff; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info{width:160px; height: 160px; position: relative;top:-160px;color:#666;overflow:hidden;padding:0 5px;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info .title,.bgInfo_info .pre,.bgInfo_info .price,.bgInfo_info .bglevel,.bgInfo_info .strong{ line-height:20px;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info .title{ font:normal 14px/2 "\5FAE\8F6F\96C5\9ED1";}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info cite{color:#ff6600; font-style:normal;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info_acton{width:160px; height: 160px; position:relative; top:-320px;}
.newHotServer .newHotServerList .newHotServerConatiner .bgInfo .bgInfo_info_acton a{width:160px; height: 160px; display: block;}
.newHotServer .newHotServerList .newHotServerConatiner .caption{height: 35px;position: relative; top:0px; background: #f5f5f5;}
.newHotServer .newHotServerList .newHotServerConatiner .caption .employ{width:85px;height: 25px;line-height: 25px;float: left;text-align: center; color:#8f8f8f; border-right:solid 1px #e5e5e5;margin-top:5px;}
.newHotServer .newHotServerList .newHotServerConatiner .caption .contact{width:85px;height: 35px;line-height: 35px;float: left; text-align: center;color:#8f8f8f;}
.newHotServer .newHotServerList .newHotServerConatiner .caption .employ:hover{color:#ff6600;}
.newHotServer .newHotServerList .newHotServerConatiner .caption .contact:hover{color:#ff6600;}
.newHotServer .newHotServerList .newHotServerScroll_point {position: relative;top:185px; left: 0;}
.newHotServer .newHotServerList .newHotServerScroll_point .scroll_point_left{position: relative; top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newHotServer .newHotServerList .newHotServerScroll_point .scroll_point_right{position: relative; top:-52px; left:911px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newServerList{width: 1200px; margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial;   background: #fff;margin-top:10px;}
.newServerList .newServerListTitle{height: 40px;line-height: 40px; margin: 0 12px; border-bottom: solid 1px #e2e2e2;}
.newServerList .newServerListTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newServerList .newServerListTitle ul{  }
.newServerList .newServerListTitle li{ height: 40px;line-height: 40px;  float:left;font-size:14px;position: relative;top:1px;cursor: pointer;padding:0 9px;}
.newServerList .newServerListTitle li:hover{border-bottom: solid 2px #017bbc; color:#017bbc;font-size: 14px;}
.newServerList .newServerListTitle .suline:hover{border-bottom: solid 1px #e5e5e5; color:#e2e2e2;font-size:14px;}
.newServerList .newServerListTitle a{float:right; font:normal 12px/42px '瀹嬩綋';color:#0098db;}
.newServerList .newServerListTitle .h{border-bottom: solid 2px #017bbc; color:#017bbc;font-size: 14px;}
.newServerList .newHotConatiner{height: 381px; padding-left:7px}
.newServerList .newHotConatiner li{float:left;width:180px;height: 355px;overflow:hidden;padding: 7px;border: solid 1px #FFF;margin: 10px 0 5px 0;}
.newServerList .newHotConatiner li:hover{border: solid 1px #e5e5e5;background: #f5f5f5;cursor: pointer;}
.newServerList .newHotConatiner .Mleft{margin-left: 7px;}
.newServerList .newHotConatiner li img{width:180px; height: 180px;}
.newServerList .newHotConatiner .caption{height: 168px;}
.newServerList .newHotConatiner .caption .caption_title{height: 74px;overflow:hidden;clear:both;padding-top:4px; border-bottom: solid 1px #e7e7e7;}
.newServerList .newHotConatiner .caption .caption_title .new_title{font-size: 14px;height: 20px; line-height: 20px; width: 180px; overflow: hidden; color:#333;}
.newServerList .newHotConatiner .caption .caption_title .new_title a{color:#333;}
.newServerList .newHotConatiner .caption .caption_title .new_star{width:114px;height: 20px; background: url(/static/module/allwechat/images/star.gif) no-repeat -4px -20px;}
.newServerList .newHotConatiner .caption .caption_title .new_star .star_mask{display:block;height: 20px; background: url(/static/module/allwechat/images/star.gif) no-repeat -4px 2px;}
.newServerList .newHotConatiner .caption .caption_title .new_per{height: 30px;line-height: 30px;}
.newServerList .newHotConatiner .caption .caption_title .new_per .perNum{display:block;float:left;color:#333;}
.newServerList .newHotConatiner .caption .caption_title .new_per .perNum cite{color:#ff6600; font-style:normal;}
.newServerList .newHotConatiner .caption .caption_title .new_per .cj{display:block;float:right;color:#999;}
.newServerList .newHotConatiner .caption .server_list{height: 46px; overflow: hidden;}
.newServerList .newHotConatiner .caption .server_list .server_list_li{height: 23px;line-height: 23px;}
.newServerList .newHotConatiner .caption .server_list .server_list_li a{color:#333;}
.newServerList .newHotConatiner .caption .server_list .server_list_li a:hover{color:#ff3300;}
.newServerList .newHotConatiner .caption .server_list .server_list_li .price_style{width:60px;color:#ff6600;display: block;float: left;}
.newServerList .newHotConatiner .caption .server_list .server_list_li .title{width:120px;color:#333; display: block;float: left; text-overflow: ellipsis;white-space:nowrap; overflow:hidden;}
.newServerList .newHotConatiner .caption .newServerEmploy{display: block;width: 180px; height:40px;line-height: 40px;color: #fff;background-color: #0085cc; text-align: center;margin-top: 10px;}
.newServerList .newHotConatiner .caption .newServerEmploy:hover{ filter: alpha(opacity=80); -moz-opacity:0.8; opacity: 0.8; }
.newServerList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newServerList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newServerList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newServerListHelp { height: 35px;line-height: 35px; border-top:1px solid #e5e5e5; margin-top:10px;}
.newServerListHelp .newHotHelp_question {width:240px;color:#666; float:left; font-size:14px;padding:0 40px;display: block;text-align: center;}
.newServerListHelp .step {float:left; font-size: 12px;padding: 0 21px;color: #606060;background: url(/static/module/allwechat/images/line_1.jpg) no-repeat right 0;}
.newServerListHelp .stepLast{float:left; font-size: 12px;color: #606060;padding-left:10px;}
.newServiceList{width: 1200px; margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial;   background: #fff;margin-top:10px;}
.newServiceList .newServiceListTitle{height: 40px;line-height: 40px; margin: 0 16px; border-bottom: solid 0 #e2e2e2;}
.newServiceList .newServiceListTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newServiceList .newServiceListTitle li{ height: 40px;line-height: 40px; float:left;font-size:13px;position: relative;top:1px;cursor: pointer;padding:0 15px;}
.newServiceList .newServiceListTitle li:hover{ color:#017bbc;}
.newServiceList .newServiceListTitle .suline:hover{border-bottom: solid 1px #e5e5e5; color:#017bbc;font-size:14px;}
.newServiceList .newServiceListTitle a{float:right; font-size:13px;color:#017bbc;}
.newServiceList .newServiceListTitle a:hover{float:right; font-size:13px;color:#017bbc;}
.newServiceList .newServiceListTitle .h{border-bottom: solid 0 #017bbc; color:#333;font-size: 18px;}
.newServiceList .newServiceConatiner{background: #f5f5f5;}
.newServiceList .newServiceConatiner li{width:220px;float:left;height: 370px;overflow:hidden;padding: 7px;border: solid 1px #FFF;margin: 5px 0 5px 5px;background: #fff;}
.newServiceList .newServiceConatiner li:hover{border: solid 1px #e5e5e5;cursor: pointer;   -webkit-box-shadow:#ccc 0 0 1px;  -moz-box-shadow:#ccc 0 0 1px;  box-shadow:#ccc 0 0 1px; }
.newServiceList .newServiceConatiner .Mleft{margin-left: 0;}
.newServiceList .newServiceConatiner li .img{width:220px; height: 220px;}
.newServiceList .newServiceConatiner .caption{height: 168px;}
.newServiceList .newServiceConatiner .caption .caption_title{clear:both;padding-top:4px;}
.newServiceList .newServiceConatiner .caption .caption_title .new_title{font-size: 14px;max-height: 40px; width: 220px; overflow: hidden;}
.newServiceList .newServiceConatiner .caption .caption_title .new_title a{color:#333;}
.newServiceList .newServiceConatiner .caption .caption_title .new_title a:hover{color:#ff6600;}
.newServiceList .newServiceConatiner .caption .caption_title .new_star{width:220px; line-height:28px; }
.newServiceList .newServiceConatiner .caption .caption_title .new_per{width:220px;height: 30px;line-height: 30px;}
.newServiceList .newServiceConatiner .caption .caption_title .new_per .perNum{color:#ff0000;font-size: 14px;display: block;float: left;}
.newServiceList .newServiceConatiner .caption .caption_title .new_per .cj{float:left;color:#999;display: block;float: right;}
.newServiceList .newServiceConatiner .caption .server_list .list_li{width:140px;color:#999;display: block;}
.newServiceList .newServiceConatiner .caption .server_list .newServerEmploy{display: block;width: 76px;height: 30px;line-height: 30px;color: #333;background:url(/static/module/allwechat/images/btn_bg.jpg) no-repeat;text-align: center;float:right;position: relative;top:-44px; text-decoration: underline;}
.newServiceList .newServiceConatiner .caption .server_list .newServerEmploy:hover{color:#ff6600;}
.newServerList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newServerList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newServerList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newCaseList{width: 1200px; margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial; background: #fff;margin-top:10px;padding-bottom: 10px}
.newCaseList .newCaseListTitle{height: 40px;line-height: 40px; margin: 0 16px; border-bottom: solid 0 #e2e2e2;overflow: hidden;}
.newCaseList .newCaseListTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newCaseList .newCaseListTitle li{ height: 40px;line-height: 40px; float:left;font-size:13px;position: relative;top:1px;cursor: pointer;padding:0 15px;}
.newCaseList .newCaseListTitle li:hover{border-bottom: solid 0 #017bbc; color:#333;font-size: 18px;color:#017bbc;}
.newCaseList .newCaseListTitle .suline:hover{border-bottom: solid 0 #e5e5e5; color:#e2e2e2;font-size:18px;}
.newCaseList .newCaseListTitle a{float:right; font-size:12px; color:#017bbc;}
.newCaseList .newCaseListTitle .h{border-bottom: solid 0 #017bbc; color:#333;font-size: 18px;}
.newCaseList .newCaseConatiner{background: #fff;}
.newCaseList .newCaseConatiner li{width:197px;float:left;height: 242px;overflow:hidden;padding: 5px;border: solid 1px #ededed;margin: 0 0 4px 7px;background: #F5F5F5;}
.newCaseList .newCaseConatiner li:hover{border: solid 1px #e5e5e5;cursor: pointer;}
.newCaseList .newCaseConatiner .Mleft{margin-left: 0;}
.newCaseList .newCaseConatiner li img{width:197px; height: 242px;}
.newCaseList .newCaseConatiner .frist_li{height: 500px;width: 310px;margin-left: 7px;}
.newCaseList .newCaseConatiner .frist_li img{height: 500px;width: 310px;}
.newCaseList .newCaseConatiner .other_li .caption{height: 140px;overflow:hidden; min-height:100px; position: relative; width: 100%;top:0;z-index: 10;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title{clear:both;height:140px;padding:10px;font-size:14px;color:#333; position: relative; top: -140px;overflow: hidden;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_title{clear:both;padding-top:4px;color:#333; line-height:24px; height:24px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_title a{color:#333;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_title a:hover{color:#ff6600;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_price{clear:both;height: 25px; line-height: 25px; }
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_price .perNum{color:#f00;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_server .s_name{color:#333;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_btn {padding-top:5px;}
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_btn a{height: 35px;background:#0085cc; color:#fff;line-height: 35px;text-align: center;display: block; }
.newCaseList .newCaseConatiner .other_li .caption .caption_title .case_btn a:hover{filter: alpha(opacity=80); -moz-opacity:0.8; opacity: 0.8; }
.newCaseList .newCaseConatiner .other_li .caption .caption_title_bg{ position: relative;top:0; background: #fff;height: 140px;filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;border: solid 1px #e2e2e2; z-index: 0;}
.newCaseList .newCaseConatiner .frist_li .caption{height: 140px; position: relative; top:0; overflow: hidden;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title{clear:both;padding:10px;font-size:14px;color:#333; position: relative; top: -140px;height: 150px;overflow: hidden;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_title{clear:both;padding-top:4px;color:#333; height: 25px; line-height: 25px;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_title a{color: #333;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_title a:hover{color: #ff6600;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_price{clear:both;height: 25px; line-height: 25px;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_price .perNum{color:#ff0000;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_server .s_name{color:#333;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_btn {padding-top:5px;}
.newCaseList .newCaseConatiner .frist_li .caption .caption_title .case_btn a{height: 35px;background:#1ec3f9; color:#fff;line-height: 35px;text-align: center;display: block; }
.newCaseList .newCaseConatiner .frist_li .caption .caption_title_bg{position: relative;top:0;background: #fff;height: 140px;filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;border: solid 1px #e2e2e2; z-index: 0;}
.newCaseList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newCaseList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newCaseList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newSuccessEmployList{width: 1200px;  margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial; overflow:hidden; background-color:#fff; margin-top:10px; }
.newSuccessEmployList .newSuccessEmployTitle{height: 40px;line-height: 40px; padding: 0 8px; margin:0 7px; overflow: hidden; border-bottom:1px solid #f5f5f5;}
.newSuccessEmployList .newSuccessEmployTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newSuccessEmployList .newSuccessEmployTitle li{ height: 40px;line-height: 40px; float:left; position: relative;top:1px;cursor: pointer;padding:0 15px;}
.newSuccessEmployList .newSuccessEmployTitle li:hover{border-bottom: solid 0 #017bbc; color:#017bbc;font-size: 14px;}
.newSuccessEmployList .newSuccessEmployTitle .suline:hover{border-bottom: solid 0 #e5e5e5; color:#e2e2e2;font-size:14px;}
.newSuccessEmployList .newSuccessEmployTitle a{float:right; color:#017bbc;}
.newSuccessEmployList .newSuccessEmployTitle .h{border-bottom: solid 0 #017bbc; color:#333;font-size: 18px;}
.newSuccessEmployList .newSuccessEmployTitle .h:hover{ font-size:18px;}
.mt_0{margin-top: 0;border-top:solid 0 #fff;border-bottom: solid 0 #e5e5e5;}
.newSuccessEmployList .newSuccessEmployConatiner{ width:1300px; margin-top:8px;}
.newSuccessEmployList .newSuccessEmployConatiner li{float:left; width:385px;  height:173px; border:1px solid #fff; overflow:hidden; margin-left:8px;  background-color: #fff; display:inline;}
.newSuccessEmployList .newSuccessEmployConatiner li:hover{width:385px; height:173px; border:1px solid #e5e5e5; background-color:#f5f5f5; cursor: pointer;}
.newSuccessEmployList .newSuccessEmployConatiner .Mleft{margin-left: 0;}
.newSuccessEmployList .newSuccessEmployConatiner li img{float:left;width:120px; height:160px; margin:7px; display:inline;}
.newSuccessEmployList .newSuccessEmployConatiner .caption{float:left; width:240px; margin:10px 0 0 2px;display:inline;}
.newSuccessEmployList .newSuccessEmployConatiner .caption .caption_title{font-size:14px; line-height:24px; overflow: hidden; width: 240px; text-overflow: ellipsis; }
.newSuccessEmployList .newSuccessEmployConatiner .caption .caption_title a{color:#333;}
.newSuccessEmployList .newSuccessEmployConatiner .caption .caption_title a:hover{color:#ff6600;}
.newSuccessEmployList .newSuccessEmployConatiner .caption .description{  font:normal 12px/20px "瀹嬩綋"; color: #666; margin-top:5px;}
.newSuccessEmployList .newSuccessEmployConatiner .caption .description a{color:#666;}
.newSuccessEmployList .newSuccessEmployConatiner .caption .description a:hover{color:#ff6600;}
.newSuccessEmployList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newSuccessEmployList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newSuccessEmployList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newsListContent{width: 1200px;  margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff; margin-top: 10px; }
.newsList{ width: 400px; float:left; border: solid 0 #e5e5e5; background: #fff;margin-top:0;padding-bottom: 10px;border-bottom: solid 1px #fff;}
.newsList .newsTitle{height: 40px;line-height: 40px; margin: 0 16px; border-bottom: solid 0 #e2e2e2;overflow: hidden;}
.newsList .newsTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newsList .newsTitle li{ height: 40px;line-height: 40px; float:left;font-size:16px;position: relative;top:1px;cursor: pointer;padding:0 15px;}
.newsList .newsTitle li:hover{border-bottom: solid 1px #017bbc; color:#017bbc;font-size: 16px;}
.newsList .newsTitle .suline:hover{border-bottom: solid 0 #e5e5e5; color:#e2e2e2;font-size:14px;}
.newsList .newsTitle a{float:right; font-size:12px; color:#017bbc;}
.newsList .newsTitle .h{border-bottom: solid 1px #017bbc; color:#333;font-size: 16px;}
.newsList .newsConatiner{background: #fff;border-right: solid 1px #f5f5f5;}
.newsList .newsConatiner li{ float:left; width:365px; height:110px; overflow:hidden; border-bottom:1px dashed #eee; margin-left:15px;}
.newsList .newsConatiner li:hover{border-bottom: dashed 1px #eee; background-color:#f0f0f0;}
.newsList .newsConatiner .Mleft{margin-left: 0;}
.newsList .newsConatiner li img{width:90px; height: 90px;float: left; margin:10px; display:inline;}
.newsList .newsConatiner .caption{width:230px;  overflow: hidden; float: left; margin-left:5px; display:inline; }
.newsList .newsConatiner .caption .caption_title{font-size: 14px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 230px; }
.newsList .newsConatiner .caption .caption_title a{color:#333;}
.newsList .newsConatiner .caption .caption_title a:hover,.newsList .newsConatiner .caption .description a:hover{color:#ff6600;}
.newsList .newsConatiner .caption .description a{ overflow: hidden; font:normal 12px/24px "瀹嬩綋"; color: #606060;  height:50px; overflow:hidden;}
.newsList .newsConatiner .caption .more{ font:normal 11px/24px "瀹嬩綋"; color:#999;float: right;display: block;}
.newsList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newsList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newsList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newBBsList{ width: 400px; float:left; border: solid 0 #e5e5e5; background: #fff;margin-top:0;padding-bottom: 10px;border-bottom: solid 1px #fff;}
.newBBsList .newsBBsTitle{height: 40px;line-height: 40px; margin: 0 16px; border-bottom:1px solid #e2e2e2;}
.newBBsList .newsBBsTitle .suline{padding: 0 0;color:#e2e2e2;}
.newBBsList .newsBBsTitle li{ height: 40px;line-height: 40px; float:left;font-size:16px;position: relative;top:0;cursor: pointer;padding:0 15px; }
.newBBsList .newsBBsTitle li:hover{border-bottom:1px solid #017bbc; color:#017bbc;font-size: 16px;}
.newBBsList .newsBBsTitle .suline:hover{border-bottom: solid 0 #e5e5e5; color:#e2e2e2;font-size:16px;}
.newBBsList .newsBBsTitle a{float:right; font-size:12px; color:#017bbc;}
.newBBsList .newsBBsTitle .h{border-bottom: solid 1px #017bbc; color:#017bbc; font-size: 16px;}
.newBBsList .newsBBsTitle .h:hover{font-size: 16px;}
.newBBsList .newsBBsConatiner{background: #fff;}
.newBBsList .newsBBsConatiner li{width:365px;height: 50px;float:left; overflow:hidden;padding:5px 5px 10px 5px; border: solid 0 #FFF; margin-left:10px; border-bottom: dashed 1px #eee}
.newBBsList .newsBBsConatiner li:hover{border-bottom: dashed 1px #e5e5e5;cursor: pointer;}
.newBBsList .newsBBsConatiner .Mleft{margin-left: 0;}
.newBBsList .newsBBsConatiner .caption_title{width:360px ;font-size: 14px; line-height:28px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:#333;}
.newBBsList .newsBBsConatiner .caption_title a{color:#333;}
.newBBsList .newsBBsConatiner .caption_title a:hover{color:#ff6600;}
.newBBsList .newsBBsConatiner .description{overflow: hidden; font:normal 12px/2 "瀹嬩綋";  color: #999;}
.newBBsList .newsBBsConatiner .description .more{color:#017bbc;}
.newBBsList .newsBBsConatiner .description .reback{float: right;color:#999;}
.newBBsList .scroll_point{position: relative;top:-211px; left: 0;height: 1px;}
.newBBsList .scroll_point .scroll_point_left{position: relative;top:0; left: 0; background: url(/static/module/allwechat/images/hot_left.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newBBsList .scroll_point .scroll_point_right{position: relative;top:-52px; left:1176px; background: url(/static/module/allwechat/images/hot_right.png) no-repeat 0 0; display: block;width:24px;height: 52px; }
.newlink{width: 1200px;  margin:0 auto; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1", Arial; padding-bottom: 10px;border-bottom: solid 0 #fff;}
.newlink .newlinkTitle{height: 40px;line-height: 40px; padding: 0 15px; overflow: hidden;}
.newlink .newlinkTitle .suline{padding: 0 16px;color:#e2e2e2;}
.newlink .newlinkTitle li{ height: 40px;line-height: 40px; float:left; position: relative;top:1px;cursor: pointer;padding:0 15px;}
.newlink .newlinkTitle .suline:hover{border-bottom: solid 0 #e5e5e5; color:#e2e2e2;font-size:16px;}
.newlink .newlinkTitle a{float:left; font-size:12px; line-height: 45px;}
.newlink .newlinkTitle .h{border-bottom: solid 0 #017bbc; color:#333;font-size: 16px;}
.mt_0{margin-top: 0;border-top:solid 0 #fff;border-bottom: solid 0 #e5e5e5;}
.newlink .newlinkContainer{background: #fff;height: 40px;padding:5px; line-height: 40px;}
.newlink .newlinkContainer a {float: left; display: block;padding:0 10px; color:#999;}
.newlink .newlinkContainer a:hover {color:#ff6600;}
.ed_sign{ font:normal 14px/40px "\5FAE\8F6F\96C5\9ED1";color:#FFF;margin-right:100px;}
.ed_sign:hover{color:#ec2828;}
@charset "utf-8";
.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:450px !important;
	overflow:hidden;
}
.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:450px !important;
	position:relative;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	  .banner, .bannercontainer			{	width:768px; height:309px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	   .banner, .bannercontainer		{	width:480px; height:193px;	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
		.banner, .bannercontainer		{	width:320px;height:129px;	}
}
@media only screen and (max-width: 319px) {
		.banner, .bannercontainer		{	width:240px;height:97px;	}
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {	
	background:#e1472f !important; 
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {	
	background-color:#e1472f !important;
 }
.tp-bullets {
    z-index: 1001;
    position: absolute;
    bottom: 0px;
}
.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: #fff;
    width: 12px;
    height:12px;
	border-radius:6px;
	-moz-border-radius:6px;
    -webkit-border-radius: 6px;
    float: left;
	margin:4px; display:inline;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
}
.tp-leftarrow.large {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: #393939 url(../../../static/script/tools/banner001/images/slider-left-arrow.png) no-Repeat;
	width: 42px;
	height: 43px;
	margin-left: 0px;
	margin-top: -21px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	
}
.tp-rightarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: #393939 url(../../../static/script/tools/banner001/images/slider-right-arrow.png) no-Repeat 0 0;
    width: 42px;
    height: 43px;
    margin-left: 0;
    margin-top: -21px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	
}
.tp-bullets.tp-thumbs {
    z-index: 100;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    margin-top: -50px;
}
.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}
.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tp-thumbs img {
    width: 100%;
}
.tp-bannertimer {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 200;
    z-index: 5000;
}
.tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .responsive .tp-bullets.tp-thumbs {
        width: 300px !important;
        height: 30px !important;
    }
    .responsive .tp-bullets.tp-thumbs .tp-mask {
        width: 300px !important;
        height: 30px !important;
    }
    .responsive .tp-bullets.tp-thumbs .bullet {
        width: 60px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .responsive .tp-bullets {
        display: none;
    }
    .responsive .tparrows {
        display: none;
    }
}
.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tp-simpleresponsive >ul >li {
    list-stye: none;
    position: absolute;
    visibility: hidden;
}
.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
    
    z-index: 10000;
}
.caption.slidelink a{
    display: block;
}
.tp-loader {
    background: url(../../../static/script/tools/banner001/images/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}