a{color: #0085cc;}
a:hover {color: #ff4200;}
.g-iico{color:#fff;font-size:11px;padding:0 3px;height:16px;line-height:16px;display:inline-block;font-weight:400;text-align:center;margin-left:4px;font-family:"\5FAE\8F6F\96C5\9ED1"}
.s-ico-top{background:#f60;border:1px solid #d55500}
.s-ico-wei{background:#44bd6a;border:1px solid #44bd6a}
.s-ico-urgent{background:#ec2828;border:1px solid #d71313}
.s-ico-hide{background:#80aa00;border:1px solid #608000}
.s-ico-ping{background:#09f;border:1px solid #007acc}
.s-ico_top{background:#f60;border:1px solid #d55500}
.s-ico_wei{background:#44bd6a;border:1px solid #44bd6a}
.s-ico_urgent{background:#ec2828;border:1px solid #d71313}
.s-ico_hide{background:#80aa00;border:1px solid #608000}
.s-ico_ping{background:#09f;border:1px solid #007acc}
.g-icon {
    background: url(/static/weike/images/cfzj.png) no-repeat;
}
.m-tasks-list-title {background: #f4f4f4;border: 1px solid #dfdfdf;height: 40px;line-height: 40px;padding: 0 30px;color: #333;}
.m-tasks-list-title .u-tasktitle{width: 535px;}
.m-tasks-list-title .u-taskstatus{width: 170px;}
.m-tasks-list-title .u-taskhandle{width: 150px;}
.m-tasks-list-content {background-color: #fff;}
.m-tasks-list-content li {padding: 15px 30px;border-bottom: 1px solid #e9e9e9;overflow: hidden;}
.m-tasks-list-content li .u-tasktitle-div{width: 535px;}
.m-tasks-list-content li .u-tasktitle-div .tasktitle {margin: 10px 0px;}
.m-tasks-list-content li .u-tasktitle-div .tasktitle a{font-weight: 700; font-size: 14px; margin-right: 5px;color: #06c;}
.m-tasks-list-content li .u-tasktitle-div .tasktitle a:hover{color:#ec2828}
.m-tasks-list-content li .u-tasktitle-div .taskinfo .money{color: #ff0000;font-weight: 700;font-size: 14px;padding-right: 15px;}
.m-tasks-list-content li .u-tasktitle-div .taskinfo .info{line-height: 25px;font-size: 12px;color: #999;}
.m-tasks-list-content li .u-tasktitle-div .taskinfo .info font{color: #ff0000;}
.m-tasks-list-content li .u-taskstatus-div{width: 170px;}
.m-tasks-list-content li .u-taskstatus-div .tasktype{font-style: normal;font-size: 14px;display: block;font-weight: 700;line-height: 35px;}
.m-tasks-list-content li .u-taskhandle-div{position: relative;width: 150px;margin-top: 20px;}
.m-tasks-list-content li .u-taskhandle-div .s-button{margin-right: 10px; background: #f4f4f4;border: 1px solid #dfdfdf;border-radius: 2px;color: #666;cursor: pointer;display: inline-block;font-family: "瀹嬩綋";line-height: 14px;outline: medium none;overflow: visible;padding: 5px 10px;text-decoration: none;transition: all 0.3s ease 0s;white-space: nowrap;}
.u-retask-cpcz{position: absolute;top:80px;right: 330px;width: 107px;height: 75px;display: block; background:url('/static/cpk/module/task/images/cpcz.png') }
.m-task-taskinfo{border: #dfdfdf 1px solid;min-height: 350px;background-color: #fff; }
.m-task-taskemployerinfo{padding: 20px 20px 10px;position: relative;}
.m-task-taskemployerinfo .u-taskemployerinfo-avatar{text-align: center; height: 100px;width: 80px;padding: 4px;border: 1px solid #e9e9e9;background: #fff;}
.m-task-taskemployerinfo .u-taskemployerinfo-avatar .employername{line-height: 20px;}
.m-task-taskemployerinfo .u-taskemployerinfo-info{margin-left: 20px;}
.m-task-taskemployerinfo .u-taskemployerinfo-info h1{font:400 24px/24px "\5FAE\8F6F\96C5\9ED1";margin:0px 2px 5px 2px; height: 30px; overflow: hidden;color: #303030;}
.m-task-taskemployerinfo .u-taskemployerinfo-auth{height: 30px;line-height: 30px;}
.m-task-taskemployerinfo .u-taskemployerinfo-money{width: 100%; height:30px; line-height:30px; }
.m-task-taskemployerinfo .u-taskemployerinfo-auth span{margin-right:5px;color: #666;}
.m-task-taskemployerinfo .u-taskemployerinfo-tasktypemoney{display: inline-block;height: 28px;border: 1px solid #F00;background: #F00;font: 700 12px/28px '\5FAE\8F6F\96C5\9ED1';padding-left:6px;color: #fff;}
.m-task-taskemployerinfo .u-taskemployerinfo-tasktypemoney .money {display: inline-block;height: 28px;background: #fff;vertical-align: top;margin-left: 5px;padding: 0 5px;color: #ef5050;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskmoneypre {margin-left: 10px;line-height: 30px;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskmoneypre i{display: inline-block;width: 20px;height: 20px;background: url(/static/weike/images/ico_clo.gif) no-repeat left -20px;overflow: hidden;line-height: 20px;vertical-align: -5px;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid{ position: absolute;top:20px; right: 20px; }
.m-task-taskemployerinfo .u-taskemployerinfo-taskid i{color: #ff0000;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid span{margin-left: 5px;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .taskidandservice{text-align: right;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .f-contactEmployer{margin-top: 5px; width: 105px;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-signup-button{text-align: center; width: 84px; background: #008fcc;border-radius: 2px;color: #fff; border-radius: 4px;  border: 1px solid #008fcc; cursor: pointer;display: inline-block;font-family: "瀹嬩綋";line-height: 14px;outline: medium none;overflow: visible;padding: 5px 10px;text-decoration: none;transition: all 0.3s ease 0s;white-space: nowrap;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-contact-button{text-align: center; width:84px; background: #f4f4f4;border: 1px solid #dfdfdf;border-radius: 2px;color: #666;cursor: pointer;display: inline-block;font-family: "瀹嬩綋";line-height: 14px;outline: medium none;overflow: visible;padding: 5px 10px;text-decoration: none;transition: all 0.3s ease 0s;white-space: nowrap;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-signup-button:hover{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-contact-button:hover{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-contact-button  img{ float:left; width:18px; margin: 1px 0px 0px 10px; display: inline-block;}
.m-task-taskemployerinfo .u-taskemployerinfo-taskid .s-contact-button span{ float:left;width: 30px;}
.m-task-taskstatusinfo{border-bottom:1px solid #dfdfdf;  padding-top: 0;height: 80px;position: relative;background-color: #fafafa;z-index: 1;padding-left: 30px;padding-right: 30px;line-height: 0;}
.m-task-taskstatusinfo-center {margin:auto;width:850px;}
.m-task-taskstatusinfo .u-taskstatusinfo-taskstatus{position:relative;padding-left:50px;}
.m-task-taskstatusinfo .u-taskstatusinfo-taskstatusinfo{padding-left:40px;  :}
.m-task-taskstatusinfo .u-taskstatusinfo-taskstatusinfo li{float: left;margin-top: 0;}
.m-task-taskstatusinfo .u-taskstatusinfo-taskstatusinfo li b{margin-top: 0;display: inline-block;width: 100%;line-height: 18px;top: 5px;color: #999;text-align: center;margin-left: -40px;font-weight: 100;}
.m-task-taskdetailinfo {background-color: #fff; padding: 20px;color:#666;font-size:14px;line-height:26px;overflow:hidden;}
.m-task-taskdetailinfo .u-taskdetailinfo-content{}
.m-task-taskdetailinfo .u-taskdetailinfo-content img{max-width: 600px;}
.m-task-taskdetailinfo .u-taskdetailinfo-content em{font-weight: normal;font-style: italic;}
.m-task-taskdetailinfo .u-taskdetailinfo-content u{text-decoration: underline;}
.m-task-taskdetailinfo .u-taskdetailinfo-content ul {margin-left:40px;}
.m-task-taskdetailinfo .u-taskdetailinfo-content ul li{list-style:disc;}
.m-task-taskdetailinfo .u-taskdetailinfo-content ol {margin-left:40px;}
.m-task-taskdetailinfo .u-taskdetailinfo-content ol li{list-style:decimal;}
.m-task-taskdetailinfo .u-taskdetailinfo-content strong{font-weight: bold!important;}
.m-task-taskdetailinfo .u-taskdetailinfo-content strong em{font-weight: bold!important;}
.m-task-taskdetailinfo .u-task-divtitle {position: relative;height: 30px;}
.m-task-taskdetailinfo .u-task-divtitle .title{position: absolute;top:0px; left: 0px; color: #666;font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff;padding: 0px 10px 0px 10px;border-left: #0085cc 5px solid;font-size: 18px;margin-bottom: 10px;}
.m-task-taskdetailinfo .u-task-divtitle .line{width: 850px;margin: 10px;color: #333;border: 0px;border-top: #C9C9C9 dashed 1px;}
.m-task-tasksign {border:1px solid #dfdfdf; background-color: #fff;padding: 20px;}
.m-task-tasksign .u-task-divtitle {position: relative;height: 30px;}
.m-task-tasksign .u-task-divtitle .title{position: absolute;top:0px; left: 0px; color: #666;font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff;padding: 0px 10px 0px 10px;border-left: #0085cc 5px solid;font-size: 18px;margin-bottom: 10px;}
.m-task-tasksign .u-task-divtitle .line{width: 850px;margin: 10px;color: #333;border: 0px;border-top: #C9C9C9 dashed 1px;}
.m-task-tasksign .u-task-divtitle .nextpre{background-color: #fff; position: absolute;top:0px; right: 0px;}
.m-task-tasksign .u-task-divtitle .nextpre a{margin-left: 5px; background: #f4f4f4;border: 1px solid #dfdfdf;display: inline-block;width: 24px;height: 24px;line-height: 24px;text-align: center;float: left;overflow: hidden;color: #666;font-size: 14px;}
.m-task-tasksignlistbox {position: relative;height: 150px;overflow: hidden;}
.m-task-tasksignlistbox .f-ab-div{position: absolute;top:0;left: 0;}
.m-task-tasksignlistbox .u-tasksignlistbox-list li {text-align: center; float: left;width: 110px;margin-top: 15px;margin-bottom: 10px;}
.m-task-tasksignlistbox .u-tasksignlistbox-list li .avatar{width: 80px;margin: auto; border: #dfdfdf 1px solid;padding: 5px;display: block;}
.m-task-tasksignlistbox .u-tasksignlistbox-list li .storename{line-height: 25px;height:25px; overflow:hidden;}
.m-task-tasksignlistbox .u-tasksignlistbox-list li .f-leftmain{width: 100px;}
.m-task-tasksignlistbox .u-tasksignlistbox-list li .storelevel{color: #666;}
.m-task-postretask {position: relative; border:1px solid #dfdfdf; background-color: #fff;padding: 20px;}
.m-task-postretask .u-task-divtitle {position: relative;height: 30px;}
.m-task-postretask .u-task-divtitle .title{position: absolute;top:0px; left: 0px; color: #666;font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff;padding: 0px 10px 0px 10px;border-left: #0085cc 5px solid;font-size: 18px;margin-bottom: 10px;}
.m-task-postretask .u-task-divtitle .line{width: 850px;margin: 10px;color: #333;border: 0px;border-top: #C9C9C9 dashed 1px;}
.m-task-retaskfileupload {margin-top: 10px;}
.m-task-retaskfileupload .u-retaskfileupload-upload{ text-align: center; }
.m-task-retaskfileupload .u-retaskfileupload-imginfo{color: #666; }
.m-task-retasksubmit{line-height: 50px;font-size: 14px;}
.m-task-retasksubmit .u-retasksubmit-captchatitle{}
.m-task-retasksubmit a{margin-left: 10px;}
.m-task-retasksubmit .u-retasksubmit-submit a{height: 36px;border: none;line-height: 36px;font-size: 14px;font-weight: bold;padding: 0 40px;background: #0083ce;color: #fff;}
.m-task-retasklist{margin-top: 20px;}
.m-task-retasklist .u-retasklist-retasknav{background-color: #f4f4f4;width:920px;height:50px;overflow:hidden}
.m-task-retasklist .u-retasklist-retasknav li{float:left;cursor:pointer;height:46px;float:left;margin-right:10px;padding:0 40px;line-height:46px;height:46px;border:1px solid #e9e9e9;border-bottom:0;font-size:12px;color:#999;background:#f9f9f9;overflow:hidden}
.m-task-retasklist .u-retasklist-retasknav li a strong{color:#eb2626}
.m-task-retasklist .u-retasklist-retasknav .selected{background:#fff;height:50px;line-height:50px; color: #333;}
.m-task-retasklist .u-retasklist-retaskfiltrate{border-left: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;margin-top: -1px;padding:5px 20px;background:#fff;line-height:24px}
.m-task-retasklist .u-retasklist-retaskfiltrate a{border-radius: 5px; color:#a0a0a0;padding:0 15px;display:inline-block;margin-right:10px}
.m-task-retasklist .u-retasklist-retaskfiltrate a.select{background:#0085cc;color:#fff}
.m-task-retasklist .u-retasklist-retaskfiltrate a:hover{background:#ffecdf;color:#eb2626}
.m-task-retasklistcontent{background-color: #fff; padding-top: 5px; border: 1px solid #e9e9e9;border-top: none;}
.m-task-retasklist .u-retasklist-content{background: #fff;word-wrap: break-word;word-break: normal;display: block;margin: 0px 10px 10px 10px;min-height: 100px;}
.m-task-retasklist .u-retasklist-content ul{width:100%; display: block; height: 24px; line-height: 24px; overflow: hidden;}
.m-task-retasklist .u-retasklist-content li{ display:inline-block; height:auto;  overflow:hidden;  margin-right:5px;  }
.m-task-retasklist .u-retasklist-content .content-top{position: relative; padding: 20px 0px; min-height: 20px; border-bottom: 1px dashed #e9e9e9;}
.m-task-retasklist .u-retasklist-content .content-top .head-pic {float: left;   margin: 0px 20px 0px 30px; display: inline;}
.m-task-retasklist .u-retasklist-content .content-top .head-pic img{ width:100px; height:100px;  border: 1px solid #d0d0d0;}
.m-task-retasklist .u-retasklist-content .content-top .witkeyinfo{ float:left; width:600px; height:auto; }
.m-task-retasklist .u-retasklist-content .content-top .witkeyinfo .storename{ font-size:18px; height:26px; line-height:26px; overflow:hidden; margin-bottom:4px;}
.m-task-retasklist .u-retasklist-content .content-top .witkeyinfo>span{color: #666; padding: 0px 5px; line-height: 25px;}
.m-task-retasklist .u-retasklist-content .content-top .witkeyinfo>span.sline{border-right: 1px solid #e9e9e9;}
.m-task-retasklist .u-retasklist-content .content-top .witkeyinfo p{ margin-bottom: 10px; color:  }
.sline{border-right: 1px solid #e9e9e9; padding-right:5px; height:12px; line-height:12px; margin: 6px 0px;}
.m-task-retasklist .u-retasklist-content .content-middle{width: 900px; padding: 20px 0px;min-height: 100px;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskstatus{    text-align: center; width: 160px; margin: 0px 30px; min-height: 180px; vertical-align: middle;display: block;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent{ float:right; width:648px;font-size: 14px; color: #666;  line-height: 28px; margin-right:30px; display: inline;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent img{ max-width: 600px;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent .hiddenretask{padding-right:260px;text-align: center; }
.hiddenretask span.hideimg{ display: block; text-align: center; }
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent .retaskfiledata{font-size: 12px;text-indent: 0em;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent .retaskfiledata a{line-height: 26px;color: #ff4200;text-decoration: underline;}
.m-task-retasklist .u-retasklist-content .content-middle .retaskcontent .retaskfiledata a:hover{color: #007cbc;}
.m-task-retasklist .u-retasklist-content .content-bottom{ padding:10px 0px;  }
.m-task-retasklist .u-retasklist-content .content-bottom .retasktime{margin-left: 15px;color: #909090;}
.m-task-retasklist .u-retasklist-content .content-bottom .employerhandle{margin-right:20px;}
.m-task-retasklist .u-retasklist-content .content-bottom .employerhandle a{color: #666;}
.m-task-retasklist .u-retasklist-content .content-bottom .employerhandle a strong{color: #ff4200;}
.m-task-retasklist .u-retasklist-content .content-bottom .employerhandle a strong:hover{color: #0085cc;;}
.m-task-retasklist .u-retasklist-content .content-bottom .employerhandle a:hover{color: #0085cc;}
.m-task-retasklist .u-retasklist-content .contactWitkey .bt-icon{width:97px;}
.m-task-retasklist .u-retasklist-content .contactWitkey .cont-picicon { width: 18px; overflow:hidden; float: left; margin: 2px 10px 0px 10px; display: inline-block;}
.m-task-retasklist .u-retasklist-content .contactWitkey .title{ border-bottom:#cbcbcb 1px dotted; height:auto; overflow:hidden;}
.m-task-retasklist .u-retasklist-content .contactWitkey .title .bt{ float:left; font:16px/26px "\5FAE\8F6F\96C5\9ED1"; color:#333; padding:10px 0px;}
.m-task-postretaskbox {}
.m-task-postretaskbox .u-postretaskbox-tools{}
.m-task-postretaskbox .u-postretaskbox-tools .freetoolsinfo{color:#ea5f00;  background-color: #fff0ce; margin-top: 10px; width: 300px; padding: 10px;border:1px #dfdfdf solid; border-radius: 5px;}
.m-task-postretaskbox .u-postretaskbox-tools .unfreetoolsinfo{display: none; color:#666;  background-color: #f8f8f8; margin-top: 10px; width: 300px; padding: 10px;border:1px #dfdfdf solid; border-radius: 5px;}
.m-task-postretaskbox .u-postretaskbox-tools .unfreetoolsdiv{line-height: 24px;}
.m-task-postretaskbox .u-postretaskbox-tools .unfreetoolsdiv span{display: inline-block;}
.m-task-retasknotpost{background-color: #fff;border:#dfdfdf 1px solid;border-top: none;padding: 10px 0px; }
.m-task-retasknotpost .witkeyInList .head-pic,.m-task-retaskinvite .witkeyInList .head-pic{ float:left;}
.m-task-retasknotpost .witkeyInList .head-describe,.m-task-retaskinvite .witkeyInList .head-describe {float:left; margin-left: 20px; display: inline;}
.m-task-retasknotpost .witkeyInList .head-describe ul,.m-task-retaskinvite .witkeyInList .head-describe ul{ width:500px; margin: 0px; padding: 0px; height: 26px; line-height:26px; overflow: hidden; }
.m-task-retasknotpost .witkeyInList .head-describe ul li,.m-task-retaskinvite .witkeyInList .head-describe ul li{ float:left; display:inline-block; overflow:hidden; margin-right:5px;}
.m-task-retaskinvite .witkeyInList .head-describe ul.storename { font-size: 18px; height: 26px; line-height: 26px; overflow: hidden; margin-bottom: 4px;}
.m-task-retasknotpost .witkeyInList{ border:#dfdfdf 1px solid;  background:#fff; padding:10px 20px; margin:15px auto; width:830px; overflow:hidden;}
.m-task-retasknotpost .witkeyInList .bt-icon{ width:97px;}
.m-task-retasknotpost .witkeyInList .cont-picicon { width: 18px; overflow:hidden; float: left; margin: 2px 10px 0px 10px; display: inline-block;}
.m-task-retasknotpost .witkeyInList .title{ border-bottom:#cbcbcb 1px dotted; height:auto; overflow:hidden;}
.m-task-retasknotpost .witkeyInList .title .bt{ float:left; font:16px/26px "\5FAE\8F6F\96C5\9ED1"; color:#333; padding:10px 0px;}
.m-task-retaskinvite{background-color: #fff;border:#dfdfdf 1px solid;border-top: none;padding: 10px 0px; }
.m-task-retaskinvite .witkeyInList{ border:#dfdfdf 1px solid;  background:#fff; padding:10px 20px; margin:15px auto; width:830px; overflow:hidden;}
.m-task-retaskinvite .witkeyInList .bt-icon{   width:97px;}
.m-task-retaskinvite .witkeyInList .cont-picicon { width: 18px; overflow:hidden; float: left; margin: 2px 10px 0px 10px; display: inline-block;}
.m-task-retaskinvite .witkeyInList .title{ border-bottom:#cbcbcb 1px dotted; height:auto; overflow:hidden;}
.m-task-retaskinvite .witkeyInList .title .bt{ float:left; font:16px/26px "\5FAE\8F6F\96C5\9ED1"; color:#333; padding:10px 0px;}
.m-task-commentbox {position: relative; border:1px solid #dfdfdf; background-color: #fff;padding: 20px; border-top: none;}
.m-task-commentbox .u-task-divtitle {position:relative; height:30px;}
.m-task-commentbox .u-task-divtitle .title{position: absolute;top:0px; left: 0px; color: #666;font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff;padding: 0px 10px 0px 10px;border-left: #0085cc 5px solid;font-size: 18px;margin-bottom: 10px;}
.m-task-commentbox .u-task-divtitle .line{width: 850px;margin: 10px;color: #333;border: 0px;border-top: #C9C9C9 dashed 1px;}
.m-task-commentbox .u-task-commentbox{color:#666}
.m-task-commentbox .u-task-commentbox .pic{float:left;width:60px;margin-top:10px}
.m-task-commentbox .u-task-commentbox .form{float:right;width:805px;line-height:30px}
.m-task-commentbox .u-task-commentbox .form p{margin:0;padding:0;margin-top:5px}
.m-task-commentbox .u-task-commentbox .form a{color:#06c}
.m-task-commentbox .u-task-commentbox .textarea_input{border:1px solid #dfdfdf;padding:2px 8px;box-shadow:2px 2px 2px #efefef inset;height:100px;line-height:26px;width:735px;font-size:12px;color:#999;vertical-align:middle;margin-right:10px;display:block;clear:both}
.m-task-commentbox .u-task-commentbox .button{height:36px;border:0;line-height:36px;font-size:14px;font-weight:700;padding:0 20px;background:#0083ce;color:#fff;margin-top:10px}
.m-task-commentbox .u-task-commentbox dl{position: relative; padding:20px 0px; height:auto; overflow: hidden; display:block; clear:both; border-bottom: 1px dashed #d0d0d0;}
.m-task-commentbox .u-task-commentbox dl dt{float:left;width:60px;height:60px}
.m-task-commentbox .u-task-commentbox dl dt img{width:60px;height:60px}
.m-task-commentbox .u-task-commentbox dl dd{color:#666;width:805px;float:right;}
.m-task-commentbox .u-task-commentbox dl dd a{line-height:20px; overflow:hidden; width:70px; margin-right:10px; height: 20px; display: block; float: left;}
.m-task-commentbox .u-task-commentbox dl dd span{line-height:20px;}
.m-task-commentbox .u-task-commentbox dl dd>p{ margin-top:4px; font-size:12px; color:#666; line-height:18px; }
.m-task-commentbox .u-delrecomment-div{position: absolute;top: 60px;right: 0px;}
.m-task-detailhandle {border:1px solid #dfdfdf;min-height: 100px;background: #FFF;}
.m-task-detailhandle .u-detailhandle-taskinfo{min-height: 120px; background: #fff;padding: 20px 20px 10px 20px;border-bottom:1px solid #dfdfdf; }
.m-task-detailhandle .u-detailhandle-taskinfo span{color: #666; display: inline-block;height: 50px;width: 105px;text-align: center;}
.m-task-detailhandle .u-detailhandle-taskinfo .u-taskinfo-btn {position:relative; width:210px; margin-left: 4px; height: auto; overflow: hidden;}
.m-task-detailhandle .u-detailhandle-taskinfo .u-taskinfo-btn .btn-bd-gray{float: left;  width:58px; text-align: center; }
.m-task-detailhandle .u-taskinfo-para{ width: 100%; height: auto; margin-bottom: 20px; overflow: hidden;}
.m-task-detailhandle .u-taskinfo-para dl{float:left; width:106px; height: 52px; text-align:center;}
.m-task-detailhandle .u-taskinfo-para dl dt{ line-height: 24px; height: 24px; color:#999; }
.m-task-detailhandle .u-taskinfo-para dl dd{ font-size:24px; font-weight: 700; }
.m-task-detailhandle .u-taskinfo-para .sline{border-right: 1px solid #e9e9e9; }
.m-task-detailhandle .u-detailhandle-taskinfo span.sline{border-right: 1px solid #e9e9e9;}
.m-task-detailhandle .u-detailhandle-taskinfo span b{color: #333; font-size: 20px;}
.m-task-detailhandle .u-detailhandle-taskinfo span i{color: #ff0000; font-size: 20px;}
.m-task-detailhandle .u-detailhandle-handle{padding:20px 0 10px 22px}
.m-task-detailhandle .u-detailhandle-handle .maibutton{margin-bottom:10px}
.m-task-detailhandle .u-detailhandle-handle .maibutton .btn-blue,.m-task-detailhandle .u-detailhandle-handle .maibutton .btn-gray{ display:block; width:174px;border-radius: 6px; margin-top:10px; line-height:48px; height:48px; font-size:24px;font-family:"\5FAE\8F6F\96C5\9ED1";text-align:center}
.m-task-detailhandle .u-detailhandle-handle .maibutton a.button.red{cursor:pointer}
.m-task-detailhandle .u-detailhandle-handle .litbutton .button{width:98px; height:32px;line-height:32px;text-align:center; display:inline-block;padding:0;float:left;margin:0px 4px;margin-bottom:10px}
.m-task-detailhandle .u-detailhandle-handle .maibutton .u-mai-but{ display: block; margin-top: 10px; }
.m-task-detailhandle .u-detailhandle-handle .maibutton .button{width:98px; height:32px;line-height:32px;text-align:center; display:inline-block;padding:0;float:left;margin:0px 4px;margin-bottom:10px}
.m-task-detailhandle .u-detailhandle-handle .maibutton a.button:hover{background:#f4f4f4}
.m-task-detailhandle .u-detailhandle-handle .maibutton a.button.red:hover{background:#0071b3}
.m-task-detailhandle .u-detailhandle-handle .litbutton{margin-bottom:10px}
.m-task-detailhandle .u-detailhandle-handle .error{display:inline-block;width:16px;height:16px;overflow:hidden;line-height:16px;margin-right:3px;vertical-align:middle;background:url(/static/weike/images/ritobg.png) no-repeat left -20px}
.m-task-detailhandle .u-detailhandle-handle .success{display:inline-block;width:16px;height:16px;overflow:hidden;line-height:16px;margin-right:3px;vertical-align:middle;background:url(/static/weike/images/ritobg.png) no-repeat left 1px}
.m-task-inviteform{margin:12px}
.m-task-inviteform .invite_head{height:32px;background:#f5f5f5;   padding: 8px 28px; width: 600px; line-height:32px;}
.all-invite{float: left; height:32px; line-height: 32px;   margin-right: 10px;   margin-top: 6px; display: inline; }
.m-task-inviteform .invite_body ul li{ width: 640px; border-bottom:1px solid #eee; margin:2px 0; height:auto; padding:4px; overflow: hidden;}
.m-task-inviteform .talent-choose{ float: left; width: 40px; height:20px; margin-top: 20px; }
.m-task-inviteform .talent-pic{ float: left; width: 60px; height: 60px;  margin-top: 5px;}
.m-task-inviteform .talent-cont{ float:left; margin-left: 10px; display: inline-block;  width:430px; height: auto;}
.m-task-inviteform .talent-cont span{ width: 100%; display: block; line-height: 24px;  height: 24px; float: left;  }
.m-task-inviteform .talent-invit{ float: right; padding-top:20px;margin:0 10px}
.m-task-inviteform .talent-invit a{background:#0085cc;width:60px;height:32px;display:inline-block;text-align:center;border-radius:6px;color:#fff;font-size:14px;line-height:32px}
.m-task-inviteform .talent-invit a.u_hasinvite_item{background:#DFDFDF;}
.m-task-inviteform .talent-invit a:hover{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.m-task-recommentbox .star{ position:relative; background:url(/static/weike/images/star01.png) no-repeat ; width:27px; height:26px;}
.m-task-recommentbox .star01{ background-position:-5px 0;}
.m-task-recommentbox .star02{ background-position:-44px 0;}
.m-task-recommentbox .star03{ background-position:-85px 0;}
.m-task-recommentbox .m-pj li {  width:100%; height:auto; overflow:hidden;}
.m-task-recommentbox .m-pj li span{ display:block; float:left; }
.m-task-recommentbox .m-pj li input{ margin-top:8px; float:left;padding-right:10px;}
.tan_qiandao{width:574px;border:1px solid #dfdfdf;padding:20px;position:absolute;right:0px;top:0px;z-index:10;background:#fff;display:none;}
.tan_qiandao_button a{width:105px;height:30px;float:left;margin-right:10px;color:#fff;font-family:'\5FAE\8F6F\96C5\9ED1';line-height:30px;text-align:center;font-size:14px;display:block;background:#008eda;border-radius:4px}
.tan_qiandao_button a.grey{background:#909090}
.tan_qiandao_rili{width:568px;margin:10px auto}
.tan_qiandao_list th{background:#dfdfdf;height:25px}
.tan_qiandao_list tr td{text-align:center;border-bottom:1px dashed #cacaca;padding:5px 0;color:#606060}
.tan_qiandao_list tr td span.yishoudao{color:#008cd9}
.tan_qiandao_list tr td span.weishoudao{color:#009800;text-decoration:underline}
.subnav_top { position:relative; z-index:10; }
.subtop_bar { display:inline-block; padding:1px 6px 0 6px ; position:relative; z-index:2;}
.subtop_bar.on { color:#eb2626; padding:0 5px; background:#fff;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.subnav_option { min-width:45px;border: 1px solid #dfdfdf;opacity:0.9; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9;padding: 0 15px 5px;border-radius:5px 0 5px 5px;background:#fff; z-index:1; *top:29px; *margin-top:4px; }
.subnav_option_task {position:absolute; top:21px;background:#fff; left:0; padding:0 10px; *margin-top:7px; border:1px solid #dfdfdf;min-width:122px; width:auto!important;white-space:nowrap;}
.u-spanhasdiv-span{width: 150px; position: relative;z-index: 10;}
.u-spanhasdiv-span .span_div{ display: none; position:absolute; top:21px;background:#fff; left:0; padding:0 9px 0 8px; border:1px solid #dfdfdf;min-width:125px; width:auto!important;white-space:nowrap;}
.u-spanhasdiv-span .span_span{padding:6px 5px ; position:relative; z-index:2;}
.u-spanhasdiv-span.on .span_span{background:#fff;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.u-spanhasdiv-span.on .span_div{display:block;}

.m-employ-detail{ float:left; width: 920px; height: auto; margin:0px; font:normal 12px/2 \5FAE\8F6F\96C5\9ED1, Arial;   }
.m-employ-detail h2{ font-weight: normal; }
.m-employ-detail .m-emp-one,.m-emp-two{ width: 918px; height: auto; border: 1px solid #d0d0d0; background-color: #fff; }
.m-employ-detail .m-emp-one .u-tasktitle{ width:100%; height: auto;  overflow: hidden;}
.m-employ-detail .u-tasktitle .u-head-pic{ float:left; width: 140px;}
.m-employ-detail .u-tasktitle .u-head-pic img{ width: 100px; height: 100px; background-color: #f0f0f0; margin:20px 20px 0px 20px; }
.m-employ-detail .u-tasktitle .u-head-tt{ float:left; width:638px; height:auto; overflow: hidden;}
.m-employ-detail .u-tasktitle .u-head-tt h2{ margin-top:10px; font-weight: bold;}
.m-employ-detail .u-tasktitle .u-head-tt ul { display:block; width:638px; height:24px;}
.m-employ-detail .u-tasktitle .u-head-tt ul li{float: left; margin-right: 15px; display: inline-block;}
.m-employ-detail .u-tasktitle .u-head-tt .hd-bgc{ width: auto; height:24px; background-color:#ff0000; }
.m-employ-detail .u-head-tt .hd-bgc span{ padding: 0px 10px; color: #fff; }
.m-employ-detail .u-head-tt .hd-bgc i { padding: 3px 5px; margin-right: 1px; background-color: #fff; color:#ff0000;  }
.m-employ-detail .u-tasktitle .u-head-num{ float:left; width: 140px; padding-top:15px;}
.m-employ-detail .u-tasktitle .u-head-num ul li{ width:100%; margin-bottom: 10px;}
.m-employ-detail .u-tasktitle .u-head-num ul li.hd-chat{ height: 26px; background-color: #f5f5f5; padding:0px 10px; width: 75px; margin-left: 10px;  border: 1px solid #d0d0d0; border-radius: 4px; }
.m-employ-detail .u-tasktitle .u-head-num .hd-chat a{ color:#999;}
.m-employ-detail .u-progress{width:912px;  margin-top: 20px; padding:10px  3px; border-bottom: 1px solid #e0e0e0; background-color: #f5f5f5; overflow: hidden;}
.m-employ-detail .u-progress .progress-bar {position: relative; width: 760px;  height: 6px; margin:10px 0px 0px 76px; background-color:#009fe8;}
.m-employ-detail .u-progress .progress-bar li{position:absolute; top:-8px; float: left; width: 24px; height: 24px; border-radius: 50%; background-color:#009fe8; text-align:center; font-weight: bold; color: #fff;  }
.u-pro-01{ left: -12px;}.u-pro-02{ left: 140px;}.u-pro-03{ left: 292px;}.u-pro-04{ left:444px;}.u-pro-05{ left:596px;}.u-pro-06{ left: 748px;}
.m-employ-detail .u-progress .progress-describe li{ margin-top: 15px; display:block;  font-size: 12px; line-height: 18px; float: left; width:152px; text-align:center; color:#999;}
.m-employ-detail .u-progress .progress-describe li h4{ font-weight: normal; }
.m-employ-detail .m-emp-one .u-details{ width:878px; height:auto; overflow:hidden; padding: 20px; line-height: 24px;}
.m-employ-detail .m-emp-one .u-details h2>span{ float: right; display: block; width: 770px; margin-top: 12px;}
.m-employ-detail .m-emp-one .u-details .text{ display:block; width: 100%; color:#666; margin-top: 10px; }
.m-employ-detail .m-emp-two{ margin-top: 20px; }
.m-employ-detail .m-emp-two .u-object{ padding: 20px; border-bottom: 1px solid #e0e0e0; }
.m-employ-detail .m-emp-two  h2{ margin-bottom: 10px;}
.m-employ-detail .u-object-details{ width: 878px; height: auto; margin: 0px; overflow: hidden;}
.m-employ-detail .u-object-details .u-object-pic{float: left; width:120px;}
.m-employ-detail .u-object-details .u-object-pic img{ width: 100px; height: 100px; background-color: #f0f0f0; margin:20px 20px 0px 0px; }
.m-employ-detail .u-object-details .u-object-tt{float: left; width: 618px;}
.m-employ-detail .u-object-details .u-object-tt>span{font: bold 18px/2 \5FAE\8F6F\96C5\9ED1, Arial; }
.m-employ-detail .u-object-details .u-object-tt span a{ display: block; color: #0083ce; margin-top:10px;}
.m-employ-detail .u-object-details .u-object-tt ul { display:block; width:100%; height:24px;}
.m-employ-detail .u-object-details .u-object-tt ul li{float: left; margin-right: 15px; display: inline-block;}
.m-employ-detail .u-object-details .u-object-btn{float: left; width:125px; margin-top:15px;}
.m-employ-detail .u-object-details .u-object-btn ul li{display: block; width: 100%锛沨eight:26px; overflow: hidden; margin-bottom:5px; }
.m-employ-detail .u-object-details .u-object-btn .object-btn{ background-color: #f5f5f5; padding:0px 10px; border: 1px solid #d0d0d0; border-radius: 4px;}
.m-employ-detail .u-object-details .u-object-btn .object-btn a{ display: block; text-align: center; color: #666;}
.m-employ-detail .u-object-details .u-object-btn .object-btn a:hover{ filter:alpha(opacity=80);  -moz-opacity:0.9;    opacity: 0.9;   }
.m-employ-detail .m-emp-two .u-message{padding: 20px; width:878px; height: auto; overflow: hidden;}
.m-employ-detail .u-message .u-message-from,.m-employ-detail .u-message .u-message-record{ width: 100%; height: auto; overflow: hidden; }
.m-employ-detail .u-message  .from-hd{ float: left; width:100px; height: auto; overflow: hidden; }
.m-employ-detail .u-message  img{ width:80px; height:80px; background-color: #f0f0f0; margin:20px 20px 0px 0px; }
.m-employ-detail .u-message .from-cont{ float: left; width: 756px;}
.m-employ-detail .u-message .from-cont h4{ font-weight: normal; margin-top: 15px;}
.m-employ-detail .u-message .u-message-from .from-cont textarea{ width: 100%; height: auto; margin:0px; padding: 10px;  min-height: 80px; overflow: hidden; }
.m-employ-detail .u-message .u-message-from .from-cont .btn-blue{ float: left;  margin-top: 10px;}
.m-employ-detail .u-message .u-message-record h4 time{ margin-left: 5px; color: #ccc;  }
.m-employ-detail .u-message .u-message-record .text{ width: 100%; height: auto; color: #999; }
.m-task-touidinfo {border:1px #dfdfdf solid; background-color: #fff; padding: 20px;color:#666;font-size:14px;line-height:26px;overflow:hidden;}
.m-task-touidinfo .u-touidinfo-content{}
.m-task-touidinfo .u-task-divtitle {position: relative;height: 30px;}
.m-task-touidinfo .u-task-divtitle .title{position: absolute;top:0px; left: 0px; color: #666;font-size: 14px;font-family: "\5FAE\8F6F\96C5\9ED1", Arial;background: #fff;padding: 0px 10px 0px 10px;border-left: #0085cc 5px solid;font-size: 18px;margin-bottom: 10px;}
.m-task-touidinfo .u-task-divtitle .line{width: 850px;margin: 10px;color: #333;border: 0px;border-top: #C9C9C9 dashed 1px;}
.m-task-touidinfo .u-touidinfo-content{background: #fff;word-wrap: break-word;word-break: normal;display: block;margin: 0px 10px 10px 10px;min-height: 100px;}
.m-task-touidinfo .u-touidinfo-content li{border-top: 1px dashed #e9e9e9;}
.m-task-touidinfo .u-touidinfo-content .content-top{padding: 20px 0px; min-height: 20px; border-bottom: 1px dashed #e9e9e9;}
.m-task-touidinfo .u-touidinfo-content .content-top .avatar{text-align: center; width: 160px;}
.m-task-touidinfo .u-touidinfo-content .content-top .witkeyinfo .storename,.describe {width:500px; height:26px; line-height: 26px;}
.m-task-touidinfo .u-touidinfo-content .content-top .witkeyinfo .storename h2{float:left; margin: 0px 6px; display: inline;}
.m-task-touidinfo .u-touidinfo-content .content-top .witkeyinfo span{ float: left; color: #666; font-size: 12px; padding: 0px 5px; line-height: 26px;}
.m-task-touidinfo .u-touidinfo-content .content-top .witkeyinfo span.sline{border-right: 1px solid #e9e9e9;   margin-top: 5px;line-height: 14px;}
.m-task-touidinfo .u-touidinfo-content .contactWitkey .bt-icon{   width:110px;}
.m-task-touidinfo .u-touidinfo-content .contactWitkey .cont-picicon { width: 18px; overflow:hidden; float: left; margin: 2px 10px 0px 10px; display: inline-block;}
.m-task-touidinfo .u-touidinfo-content .contactWitkey .title{ border-bottom:#cbcbcb 1px dotted; height:auto; overflow:hidden;}
.m-task-touidinfo .u-touidinfo-content .contactWitkey .title .bt{ float:left; font:16px/26px "\5FAE\8F6F\96C5\9ED1"; color:#333; padding:10px 0px;}