html {
    height: 100%;
    overflow-y: scroll;
}
body{
    background: #F4F4F4 none repeat scroll 0% 0%;
}
.backDIYpage {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10000;
    width: 80px;
    display: block;
    border-radius: 15px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #383838;
}
.backDIYpage a{
    color: #FFF;
}
.sidebar {
    position: fixed;
    left: 0;
    padding-top: 50px;
    width: 200px;
    height: 100%;
	background: url("../images/bg/bg.png") repeat #6b6b6b ;
    z-index:2;
}
.columns-mod {
    border: 1px solid #cdcdcd;
}
.hidden_important{
  display: none!important;
}


.space {
    margin:5px auto;
}
.spaceline{
    border:2px dashed;
    border-color: #000;
}

.box { width: 80px; height: 80px; cursor: move; position: absolute; top: 30px; left: 30px; background-color: #FFF; border: 1px solid #CCCCCC;  -webkit-box-shadow: 10px 10px 25px #ccc;-moz-box-shadow: 10px 10px 25px #ccc;box-shadow: 10px 10px 25px #ccc;

    margin-left: 10px;
    z-index: 200;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    background: url("/static/cpk/module/user/images/partbgimg.png");
}
.boxrelative{
    position: relative;
}
.boxMoreInfo{
    position: absolute;
    left: 100px;
    top:0px;
    display: none;
}
.pageOn{
    background-color: #6D6D6D!important;
}
.layoutOn{
    background-color: #09c!important;
}
#coor { width: 10px; height: 10px; overflow: hidden; cursor: se-resize; position: absolute; right: 0; bottom: 0; background-color: #09C; }

.clear{
	clear:both;
}
.mainContent{
    margin: auto;
    float: left;
}
.backfff{
    background-color: #FFF;
}
.ml_5{
    width: 50px;
    margin-left: 5px;
    float: left;
}
.rightBlock{
    margin-left: 10px;
}
.sidediv{
    height:100%;position:fixed;margin:auto;left:0; top:0; bottom:0;width:0px; z-index: 9999;
}
.layoutsidediv{
    height:100%;position:fixed;margin:auto;right:0; top:0; bottom:0;width:200px; 
}

.spaceBlock{
    /*position: relative;*/
    /*background: #FFF;*/
}
.spaceBlock .block-cancel{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: block;
    padding: 8px;
    background: #333 none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
}
.spaceBlock .block-cancel:hover {
  background: #e25440;
  color: #fff;
  cursor: pointer;
}
.spaceBlock .block-together{
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 10;
    display: block;
    padding: 8px;
    color: #050;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
    background: transparent url("/static/images/arrotow.png") no-repeat scroll left -18px;
}
.spaceBlock .block-together.down{
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 10;
    display: block;
    padding: 8px;
    color: #050;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
    background: transparent url("/static/images/arrotow.png") no-repeat scroll left -0px;
}
.space_split{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent url("/static/cpk/module/user/images/spaceSplitJoin.png") no-repeat scroll left -62px top -10px;
}
.space_join{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent url("/static/cpk/module/user/images/spaceSplitJoin.png") no-repeat scroll left -10px top -10px;
}
.spaceBlock .block-together:hover {

  color: #606060;
  cursor: pointer;
}
.spaceBlock .block-setting{
    position: absolute;
    top: 10px;
    right: 60px;
    z-index: 10;
    display: block;
    padding: 8px;
    background: #333 none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
}
.spaceBlock .block-setting:hover {
  background: #e25440;
  color: #fff;
  cursor: pointer;
}
.editDiv{
    position: relative;
    float: right;
    width: 160px;
}
.lineDiv{
    position: relative;
    float: left;

}
.abdiv{
    position: absolute;
    top:-5px;
    left: 0px;
}
.newPageSelect{
    background-color: #404040;
}
.newPageSelectMain{
    width: 1200px;
    height: 56px;
    margin: auto;
}
.newPageSelectMain ul {
    
}
.newPageSelectMain ul li{
    width: 110px;
    padding: 8px 5px;
    display: block;
    float: left;
    line-height: 40px;
    text-align: center;
}
.newPageSelectMain ul li a{
    width: 110px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    color: #FFF;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 16px;
}
.newLayoutSelect{
    background-color: #363636;
}
.newLayoutSelectMain{
    width: 1200px;
    height: 210px;
    margin: auto;
}
.newLayoutSelectMain .mainLeft{
    width: 350px;
    height: 210px;
}
.newLayoutSelectMain .mainLeft .leftMain{
    width: 350px;
    color: #FFF;
	font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1";
}
.newLayoutSelectMain .mainCenter{
    width: 500px;
    height: 210px;
    position: relative;
}
.newLayoutSelectMain .mainCenter .centerContent{
    width: 500px;
    margin: auto;
}
.newLayoutSelectMain .mainCenter .centerContent .contentMain{
    margin: auto;
    position: relative;
}
.newLayoutSelectMain .mainCenter .centerContent .contentMain .layoutUl{
    clear:both; position:relative; left:50%; float:left; margin:20px auto;
}
.newLayoutSelectMain .mainCenter .centerContent .contentMain .layoutUl li{
    float:left; position:relative; left:-50%; margin-right:2px;width: 125px;height: 160px;
    overflow: hidden;
}
.newLayoutSelectMain .mainCenter .centerContent .contentMain .layoutUl li a{
    float:left; text-decoration:none; padding:5px; 
}
.newLayoutSelectMain .mainCenter .centerPre{
    left: 5px;
    background: #000 url("/static/cpk/public/images/arrow-left.png") no-repeat scroll 50% center;
    opacity: 0.15;
    border-radius: 3px;
}
.newLayoutSelectMain .mainCenter .centerNext{
    right: 5px;
    background: #000 url("/static/cpk/public/images/arrow-right.png") no-repeat scroll 50% center;
    opacity: 0.15;
    border-radius: 3px;
}
.newLayoutSelectMain .mainCenter .centerPre,.newLayoutSelectMain .mainCenter .centerNext{
    position: absolute;
    background-color: #FFF;
    height: 70px;
    width: 35px;
    top:50%;
    margin-top: -35px;
}
.newLayoutSelectMain .mainRight{
    width: 350px;
    height: 210px;
}
.newLayoutSelectMain .mainRight .rightchkInfo{
    width: 180px;
    height: 160px;
    overflow: auto;
    color: #000;
}
.newLayoutSelectMain .mainRight .rightchkInfo a{
    color: #0085cc;
}
.newLayoutSelectMain .mainRight .rightchkInfo a:hover{
    color: #ff4200;
}
.newLayoutSelectMain .mainRight .rightBtn{
    margin: 20px 10px 20px 0px;
    width: 100px;
    height: 200px;
    text-align: center;
}
.newLayoutSelectMain .mainRight .rightBtn ul li{
    width: 100px;
    height: 30px;
    float: left;
    line-height: 30px;
    display: block;
    border-radius: 15px;
    background-color: #ccc;
    margin-top: 5px;
}
.newLayoutSelectMain .mainRight .rightBtn ul li a{
    border-radius: 15px;
    display: block;
    color: #FFF;
}
.newLayoutSelectMain .mainRight .rightBtn .savebtn{
    background-color: #22B7DC;
}
.newLayoutSelectMain .mainRight .rightBtn .viewbtn{
    background-color: #FF9C00;
}
.newLayoutSelectMain .mainRight .rightBtn .returnbtn{
    background-color: #D2D2D2;
}
.backgroundcolorinput{
	margin-top:5px;
    width: 240px;
    overflow: hidden;
}
.inedit{

}
.editH5{
    padding-top: 5px;
}
.dialogbox .liLeft{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.dialogbox .liRight{
    line-height: 40px;
}
.dialogbox .liRight .rightColorBoxs{
    padding: 10px;
    height: 20px;
}
.dialogbox .liRight .rightColorBoxs a{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-left: 5px;
}
.dialogbox .liBtn{
    width: 200px;
    margin: 10px auto;
}
.dialogbox .liBtn a{
    border-radius: 5px;
    display: block;
    color: #FFF;
    text-align: center;
    float: left;

    margin-left: 10px;


}
.dialogbox .liBtn .btnSubmit{
    background-color: #0071BE;
}
.dialogbox .liBtn .btnCancel{
    background-color: #E2E2E2;
    color: #757575;
}
.dialogbox .headerline{
    width: 480px;
    height: 48px;
    background-color: #dfdfdf;
    text-align: center;
    line-height: 48px;
}
.dialogbox .headerline a{
    display: block;
}
.storeTemplateUploadBox{position: relative;width: 480px;height: 48px;background-color: #dfdfdf;margin: auto;border-radius: 5px;overflow: hidden;}
.storeTemplateUploadBox .imgbox img{position: absolute;top:0px;left: 0px;width: 100%;height: 100%;}
.storeTemplateUploadBox .fileInputBox{position: absolute;top:0px;left: 0px;}
.storeTemplateUploadBox input {display: none;}
.storeTemplateRemoveImgBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 300;
    padding: 8px;
    background: #333 none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
}
.storeTemplateRemoveImgBtn:hover{
    background: #E25440 none repeat scroll 0% 0%;
    color: #FFF;
    cursor: pointer;
}
.storeTemplateStartUploadBtn{
    text-align: center;
    line-height: 50%;
    color: #666;
}




.rightBannerDiv{
    width: 550px;
    height: 200px;
    overflow: auto;
}
.rightBannerlist{
    width: 500px;
}
.rightBannerlist .listBannerimg{
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: #606060;
    border-radius: 5px;
}
.rightBannerlist .listBannerinfo{
    width: 200px;
}
.rightBannerlist .listBannerinfo .bannerDelBtn{
    background-color: #DFDFDF;
    border-radius: 5px;
    display: block;
    color: #000;
    text-align: center;
    float: left;
    width: 60px;
    height: 25px;
    margin: 5px;
    line-height: 25px;
    font-size: 14px;
}
.rightBannerlist .listBannerinfo input{
    margin:5px;
    width:180px;
}


.rightposterDiv{
    width: 550px;
    height: 300px;
    overflow: auto;
}
.rightposterlist{
    width: 500px;
}
.rightposterlist .listposterimg{
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: #606060;
    border-radius: 5px;
}
.rightposterlist .listposterinfo{
    width: 200px;
}
.rightposterlist .listposterinfo .posterDelBtn{
    background-color: #DFDFDF;
    border-radius: 5px;
    display: block;
    color: #000;
    text-align: center;
    float: left;
    width: 60px;
    height: 25px;
    margin: 5px;
    line-height: 25px;
    font-size: 14px;
}
.rightposterlist .listposterinfo input{
    margin:5px;
    width:180px;
}