/*  shopbase样式 
	通用样式
	自定义通用样式
	页面布局样式
	单个具体通用样式
  具体页面基本样式
*/

/*  通用样式  */
body{
   background: #F4F4F4 none repeat scroll 0% 0%;
}
a{
	text-decoration: none;
}
/*  自定义通用样式  */
.clear{
	clear:both;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.bgcFFF{
  background-color: #FFF;
}
.fs-11{ font-size:10px;}.fs-12{ font-size:12px;}.fs-14{ font-size:14px;}.fs-16{ font-size:16px;}.fs-18{ font-size:18px;}.fs-20{ font-size:20px;}.fs-22{ font-size:22px;}.fs-24{ font-size:24px;}
.fs-30{ font-size:30px;}
.f_l{
	float: left;
}
.f_r{
	float: right;
}
.h10{
   height: 10px;
}
.h15{
	height: 15px !important;
}
.w300{
    width: 300px;
}
.w380{
    width: 380px;
}
.w782{
    width: 782px;
}
.w800{
    width: 800px;
}
.w900{
    width: 900px;
}
.w1180{
    width: 1180px;
}
.w1144{
    width: 1144px;
}
.mt_10{
  margin-top: 10px;
}
.mr_16{
  margin-right: 16px;
}
.ml_16{
  margin-left: 16px;
}
.mr_18{
  margin-right: 18px;
}
.ml_18{
  margin-left: 18px;
}
.m_auto{
  margin: auto;
}
/*  页面布局样式 */
.mainContent{
   width: 1200px;
   margin: auto;
}
.spaceBlock{
  /*background-color: #FFF;*/
  overflow: hidden;
}
/*  单个具体通用样式  */
a.chengxin{
	display: inline-block;
	width: 22px;
	height:24px;
	background: transparent url("/static/images/xincheng-on.gif") no-repeat scroll 0% 0%;
}
.btn-blue {background-color: #0085CC;color: #FFF;}
.btn-yellow {background-color: #FF6600;color: #FFF;}
.btn-blue:hover,.btn-yellow:hover{background-color: #A0A0A0; color: #FFF;}
.goodrate{color: #fe4200;}



/* */
.partTitleDiv{height: 48px; line-height: 48px; padding: 0px 30px; }
.partTitleDiv .titledivHead {display: block;font:bold 18px/48px "\5FAE\8F6F\96C5\9ED1";	color:#333;}
.partTitleDiv .titledivMore {display: block; text-align: center; float: right;}



.headLine{ margin:0px 18px; height:1px; position:relative; z-index:4; background-color:#dfdfdf; clear: both;}
.headLine .colorLine{ position:absolute; top:0px; left:0px;height:1px;z-index:5; width:100px; background-color:#0085CC;}
.headLine .colorLine150{ width:150px;}
.headLine .colorLine130{ width:90px;}
.headLine .colorLine120{ width:120px;}
.partBody{
  margin: auto;
  width: 100%;
  position: relative;
}
.bodyul{
  clear: both;
  position: relative;
  left: 50%;
  float: left;
}
.bodyLi{
  float: left;
  position: relative;
  left: -50%;
  overflow: hidden;
  text-align: center;
}
.liimgbox{
  display:block;
  padding: 7px;
  background-color: #F1F3F0;
}

.liinfoMain .liinfotitle{font:normal 14px/28px "\5FAE\8F6F\96C5\9ED1"; color: #333; text-align:left;height:28px; background-color: #fff; overflow: hidden;}
.liinfoMain .liinfotitlea{width:100%; }
.liinfoMain .liinfomoney,.liinfoMain .liinfoturnover{width:100%; text-align: left;}

.liinfoMain .btn-blue{ border-top-left-radius:0px;border-top-right-radius:0px;  }
.liinfoMain .liinfomoney{
	font:normal 14px/28px  "\5FAE\8F6F\96C5\9ED1";
  color: #FE4200;
 }
.liinfoMain .liinfoturnover{
  color: #606060;
  font:normal 14px/28px  "\5FAE\8F6F\96C5\9ED1";
}
.buybtn{
  cursor: pointer;
  display: block;
  font: 14px/36px "\5FAE\8F6F\96C5\9ED1";
  border-radius: 4px;
  list-style: outside none none;
  height: 36px;
}

.cateli{float: left; display: inline-block;  text-align: center;  margin: 10px 8px;}
.cateli a{display:block; border-radius:8px; border:1px  solid #fff; padding:10px  20px;}
.cateli a:hover{  border:1px  solid #d0d0d0; color:#666; background-color:#f5f5f5; }
.shopsourcecateBody{ padding:0px 10px; }

.shopaboutBody{padding:10px 20px;  font: normal 14px/2 '\5FAE\8F6F\96C5\9ED1';  color: #666; text-indent:28px; padding-bottom:20px;}
.shopaboutMain,.shopservicecateMain,.shopsourcecateMain,.shopcasecate,.shoprecordgoodrate,.shopserviceinfo{ margin-top:0px; } 
.shoprecordgoodrateMain{ background-color:#fff; padding-bottom:10px;}
.shoprecordgoodrateBody{ padding:10px 0px;}
/**tongyong**/
.shopask{
	margin: 10px 0px;
    background-color: #FFF;
}
.shopaskMain{
    margin: auto;
}
.shopaskHead{
    height: 40px;
    border-bottom: 2px solid #E5E5E5;
}
.shopaskHead .headtitle{
    width: 200px;
    height: 40px;
    text-align: center;
    border-bottom: 2px solid #00B0FF;
}
.shopaskHead .headtitle a{
    display: block;
    line-height: 40px;
}
.shopaskBody ul{
  margin: 10px 0px;
  padding:0px;
}
.shopaskBody li.bodyinfo{
  float: left;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
}
.shopaskBody li.bodyinfo a {
    height: 40px;
    line-height: 40px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    padding: 0px 25px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.shopaskBody li.bodyinfo a.select, .shopaskBody li.bodyinfo a:hover {
    background: #0071B3 none repeat scroll 0% 0%;
    border-color: #0071B3;
    color: #FFF;
}
.shopaskBody .corllevalut {height: 32px;background: #fff;padding: 15px 15px 0;border-bottom: 1px solid #f5f5f5;}
.shopaskBody .corllevalut span {display: block;float: left;height: 31px;line-height: 32px;margin-right: 10px;padding: 0 15px;background: #f5f5f5;border: 1px solid #f5f5f5;cursor: pointer;font-size: 14px;color: #666;}
.shopaskBody .corllevalut span a{color: #666;}
.shopaskBody .corllevalut span.on, .corllevalut span:hover {height: 32px;background: #fff;border-bottom: none;}
.shopaskBody .evaluament {border-bottom: 1px dotted #f5f5f5;padding: 10px 0;font-family: "\5FAE\8F6F\96C5\9ED1"; color: #606060}
.shopaskBody .evluont {width: 280px;margin-right: 5px;}








.shopheader{
  padding: 0px;
  background: #FFF;
}
.shopheaderMain{
  width: 1200px;
  margin: auto;
  background-color: #FFF;
}
.shopheaderinfo{
  line-height: 40px;
}
.shopheaderinfo ul{
  margin: 0px;
  padding: 0px;
}
.shopheaderinfo li{
  float: left;
  height: 40px;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  color: #606060;
}
.shopheaderinfo li a{
  color: #606060;
}
.shopheaderinfo i.star{
  font: 400 12px/12px "\5FAE\8F6F\96C5\9ED1";
  color: #303030;
  background: transparent url("/static/weike/images/xing.gif") no-repeat scroll 0% 0%;
  padding-left: 20px;
}
.shopheaderbanner{
  padding: 0px;
  overflow: hidden;
  text-align: center;
  height:120px;
}
.moblie_star{ width:20px; height:20px; background:url(/static/images/moblie.gif) no-repeat 0px 0px;  display: block; float: left; margin-top: 11px;}
.shopheaderinfo ul li{ font:normal 12px/40px "\5FAE\8F6F\96C5\9ED1"; color:#333;}
.font_name{ font:400 16px/40px "\5FAE\8F6F\96C5\9ED1"; color:#333;}
.Gt_icon a img{ margin-top:6px; margin-left:2px;}




.shopNav{
  background: #F4F4F4 none repeat scroll 0% 0%;
  height: 40px;
  font:normal 14px/40px \5FAE\8F6F\96C5\9ED1,sans-serif;
  margin: auto;
}
.shopNavMain{
  width: 1200px;
  margin: auto;
  line-height: 40px;
}
.shopNavMain ul{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.shopNavMain li{
  width: 120px;
  float: left;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-right: 1px dashed #DFDFDF;
}



.shoprecordBody ul{
  margin: 10px 0px;
  padding:0px;
}
.shoprecordBody li.bodyinfo{
  float: left;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
}
.shoprecordBody li.bodyinfo a {
    height: 40px;
    line-height: 40px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    padding: 0px 25px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}
.shoprecordBody li.bodyinfo a.select, .shoprecordBody li.bodyinfo a:hover {
    background: #0071B3 none repeat scroll 0% 0%;
    border-color: #0071B3;
    color: #FFF;
}
.shoprecordBody .corllevalut {height: 32px;background: #fff;padding: 15px 15px 0;border-bottom: 1px solid #f5f5f5;}
.shoprecordBody .corllevalut span {display: block;float: left;height: 31px;line-height: 32px;margin-right: 10px;padding: 0 15px;background: #f5f5f5;border: 1px solid #f5f5f5;cursor: pointer;font-size: 14px;color: #666;}
.shoprecordBody .corllevalut span a{color: #666;}
.shoprecordBody .corllevalut span.on, .corllevalut span:hover {height: 32px;background: #fff;border-bottom: none;}
.shoprecordBody .evaluament {border-bottom: 1px dashed #e0e0e0;padding:25px 0;font-family: "\5FAE\8F6F\96C5\9ED1"; color: #606060}
.shoprecordBody .evluont {width: 280px;margin-right: 5px;}



.goodratebtn {
	font:bold 18px/2 "\5FAE\8F6F\96C5\9ED1";
	width:80px;
    text-align: center;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 0px 25px;
    white-space: nowrap;
    cursor: pointer;
    color: #606060;
}



.shopserviceinfoBody ul{
  margin: 10px 0px;
  padding:0px;
}
.shopserviceinfoBody li.bodyinfo{
  float: left;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
}
.shopserviceinfoBody li.bodyinfo a {
    height: 40px;
    line-height: 40px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    padding: 0px 25px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    color: #606060;
}
.shopserviceinfoBody li.bodyinfo a.select, .shopserviceinfoBody li.bodyinfo a:hover {
    background: #0071B3 none repeat scroll 0% 0%;
    border-color: #0071B3;
    color: #FFF;
}
.ser-pic{z-index: 9999; height:auto; display:block; margin-top: 15px;}
.bigpic{ float: left; width:350px; height:350px; border:5px solid #e5e5e5; background-color:#0094d9;  margin-right:20px; overflow:hidden;}
.smallpic{ float:left; width:140px; height:360px;  margin-right:10px;border:1px solid #e5e5e5; }
.smallpic span{ width:100%; height:20px; background-color:#0094d9; display:block;}
.smallpic ul li{ margin:5px 20px 0px 20px; width:100px; height:100px; background-color:#0094d9;}
.headtitle a{font: bold 24px/48px "\5FAE\8F6F\96C5\9ED1", Arial; color:#333;}
.article-main-l{ width:450px; color:#333;}
.article-main-l h3{ font:bold 24px/38px "\5FAE\8F6F\96C5\9ED1", Arial; margin: 10px;} 
.article-main-l .price{ margin:0px; padding:0px;  font: normal 18px/2 "\5FAE\8F6F\96C5\9ED1", Arial;}
.article-main-l .price-tt{ float:left; font: normal 14px/36px "\5FAE\8F6F\96C5\9ED1", Arial; }
.article-main-l .price-ct{ margin-left:10px; color:#F00;}
.article-main-l .article-main-dt { margin:0px; padding:0px; font:normal 12px/2 "微软雅黑";   color:#666;}
.article-main-l .article-main-dt ul li{ width:400px; height:24px; line-height:24px; display:block;}
.article-main-l .article-main-dt .category{ font:normal 12px/2 '微软雅黑';} 
.article-main-l .article-main-dt ul li span{ float:left; margin-right:15px;}

.sevbotton{ padding:15px 0px;}
.sevbotton a.buyserwic { margin-right:15px; font:normal 18px/2 '\5FAE\8F6F\96C5\9ED1';vertical-align:middle;display: inline-block; border-radius:4px; background-color: #0094d9;border: 1px solid #0077cb;color: #fff;padding: 0 20px;}
.sevbotton a.buyserwic:hover{background-color: #d0d0d0; border:1px solid #ccc; color:#666;}
.sevbotton a.bottontz {border-radius:4px; vertical-align: middle;display: inline-block;height: 38px;line-height: 38px;border: 1px solid #d4d4d4;background-color: #eaeaea;background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);background-image: -o-linear-gradient(top, #ffffff, #eaeaea);background-image: linear-gradient(top, #ffffff, #eaeaea);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#eaeaea);font-family: "宋体";filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea');color: #666;padding: 0 20px;}
.sevbotton a.bottontz:hover{color: #333;}




.ser-int-tt{  font: bold 18px/38px \5FAE\8F6F\96C5\9ED1, Arial;  color:#333; border-bottom:1px solid #e5e5e5;     margin: 20px 20px 0px 20px;}
.ser-int-tt span{ background-color:#f60; width:140px; height:38px; display:block; color:#fff; text-align:center; border-top-right-radius:4px; border-top-left-radius:4px;}
.ser-int-cont{ padding:20px;}



.shopsourceinfoBody ul{
  margin: 10px 0px;
  padding:0px;
}
.shopsourceinfoBody li.bodyinfo{
  float: left;
  width: 100px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
}
.shopsourceinfoBody li.bodyinfo a {
    height: 40px;
    line-height: 40px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    padding: 0px 25px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    color: #606060;
}
.shopsourceinfoBody li.bodyinfo a.select, .shopsourceinfoBody li.bodyinfo a:hover {
    background: #0071B3 none repeat scroll 0% 0%;
    border-color: #0071B3;
    color: #FFF;
}
.contactEmailPhone{
  padding-top: 10px; padding-left:25px;width:275px;height:auto; padding-bottom:10px; font-size:12px;line-height:25px;color:#656565;
}
.indexSkill{font-size:12px;color:#666;  width: 100%;   }
.indexSkill span{float: left;
margin-left: 10px;
cursor: pointer;
color: #666;
background-color: rgb(34, 183, 220);
color: rgb(255, 255, 255);
padding: 5px;
border-radius: 5px;}



.anlidtile{  height: 50px; margin-top: 10px; line-height: 50px; padding: 0px 10px;}
.border_b_c_cont,.shoprecordBody{ background-color:#fff; padding:10px 20px; top: -3px; position: relative; color:#666;}



ul.u-contactbox { height: 32px;  background-color: #F8F8F8; border-right:1px solid #d0d0d0; border-top:1px solid #d0d0d0; }
.u-contactbox li{ float: left; height: 32px!important; line-height: 32px; width:50%; text-align: center;}
.u-store-cont{ }
.u-contactbox li a{
  color: #666; display: block;  border-left:1px solid #d0d0d0;
}
.u-contactbox .s-online{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: transparent url("/static/cpk/public/images/sicon.png") no-repeat scroll left 2px top -2px;
}
.u-contactbox .s-contact{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: transparent url("/static/cpk/public/images/sicon.png") no-repeat scroll left -39px top -1px;
}
.s-phone{
  vertical-align: middle;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: transparent url("/static/images/moblie.gif") no-repeat scroll left 7px top 2px;
}
.u-employbtn{
  font-family:"\5FAE\8F6F\96C5\9ED1", Arial;
  font-size: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  text-align:center;
}
.u-store-auth ul li{
  width: 100%;
  text-align: center;
}

.u-store-auth .litext{
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: #656565;
  background-color: #E0E0E0;
}
.u-store-auth .lipic{
  text-align: center;
  line-height: 35px;
  background-color: #FFF;
  height: 35px;
  overflow: hidden;
  border: 1px solid #D4D4D4;
}
.u-month-money{
  width:200px;
  margin:auto;
}
.u-month-money span{width:100px;}
.u-month-money .money{font-size: 14px;}
.u-month-money .freeday{
  margin: 14px 0px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: #F1F1F1;
}
.u-month-money .freeday font{
  padding: 2px 8px;
  font-size: 14px;
  background-color: #00A3E4;
  color: #FFF;
  border-radius: 5px;
}
.u-month-money-800900{

  margin:auto; 
  font:normal 14px/2  '\5FAE\8F6F\96C5\9ED1';
}

.shopinfoMain{ padding:20px; height:auto; overflow:hidden; }
.shopinfoMain .head{ float:left; margin-right:20px; display:inline-block; }


.u-store-auth-800900{ width: 580px; }
.u-store-one{ width:100%; height:auto; display:block; overflow:hidden;}
.u-store-qq {  height:auto; display:block; margin:5px 50px 10px 0px; margin-top:12px; overflow:hidden; color:#666; height:68px; background-color:#f5f5f5;}
.u-store-qq-half{ height:auto; display:block; padding:0px 0px 8px 0px; margin-left:80px; height:68px; background-color:#f5f5f5; overflow:hidden; color:#666;}
.u-month-money-800900 .money{font-size: 14px;}
.u-store-qq dl,.u-store-qq-half dl{float:left; text-align:center; padding-left:24px; font:normal 14px/2 "\5FAE\8F6F\96C5\9ED1", Arial;}
.u-month-money-800900 .freeday{ height: 28px; line-height: 28px; font-size: 14px; margin-left:5px;}
.u-month-money-800900 .freeday font{
  padding: 2px 8px;
  font-size: 14px;
  color: #333;
  border-radius: 5px;
  margin:0px 4px;
}
.u-store-auth-800900 ul li{ font-family:\5FAE\8F6F\96C5\9ED1; width:290px; text-align:left; margin-bottom: 5px; height:25px;}
.s-shopinfostorename{ color:#333; font:bold 18px/1 "\5FAE\8F6F\96C5\9ED1", Arial; height:36px;}
.s-shopinfostorenamea{ color:#333; font:bold 18px/2 "\5FAE\8F6F\96C5\9ED1", Arial; height:36px;}
.u-store-auth-800900 .litext{
  width: 75px;
  font:normal 14px/2  '\5FAE\8F6F\96C5\9ED1';
  color: #666;
  text-align:center;
  background-color:#f5f5f5;
}
.u-shop-qq{ width:100%; height:30px; margin-top:10px;}
.u-store-auth-800900 .lipic{
  text-align: left;
  margin-left: 15px;
  line-height: 24px;
  height: 28px;
  overflow: hidden;
  width: 200px;
   font-size:14px;
}

.u-month-money-1200{

  margin:auto;
  font-family:"\5FAE\8F6F\96C5\9ED1", Arial；
}

.u-month-money-1200 .money{font-size: 14px;}
.u-month-money-1200 .freeday{
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}
.u-month-money-1200 .freeday font{
  padding: 2px 8px;
  font-size: 14px;
  background-color: #00A3E4;
  color: #FFF;
  border-radius: 5px;
}
.u-store-auth-1200 ul li{
	font-family:"\5FAE\8F6F\96C5\9ED1", Arial;
}

.u-store-auth-1200 .litext{
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: #666;
  background-color:#f5f5f5;
  margin-bottom:5px;
}
.u-store-auth-1200 .lipic{
  text-align: left;
  margin-left: 15px;
  height:28px;
  font:normal 14px/2  '\5FAE\8F6F\96C5\9ED1';
  overflow: hidden;
  width: 200px;
}

.u-month-money-300{
  width:200px;
  margin:auto;
}
.u-month-money-300 span{}
.u-month-money-300 .money{font-size: 14px;}
.u-month-money-300 .freeday{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.u-month-money-300 .freeday font{
  padding: 2px 8px;
  font-size: 14px;
  background-color: #00A3E4;
  color: #FFF;
  border-radius: 5px;
   margin:0px 5px;
}
.u-store-auth-300 ul li{
  text-align: center;
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial;
}

.u-store-auth-300 .litext{
  width: 75px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #666;
}
.u-store-auth-300 .lipic{
  text-align: left;
  margin-left: 15px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  width: 180px;
  font-size: 14px;
}
/*team*/
.shopteamBody{ position:relative; top:-3px;}
.shopteamBody .team{}
.shopteamBody .team li{border-bottom: #C9C9C9 dashed 1px;position: relative;}
.shopteamBody .team li .teamer-unameinfo{width: 380px; border-right: #C9C9C9 dashed 1px;}
.shopteamBody .team li .teamer-unameinfo .info_img{width: 200px;}
.shopteamBody .team li .teamer-unameinfo .info_name{width: 160px;}
.shopteamBody .team li .teamer-unameinfo .info_name span{font-size: 18px;font-weight: 700;}
.shopteamBody .team li .teamer-unameinfo .info_name font{line-height: 27px;}
.shopteamBody .team li .teamer-info {width: 740px;}
.shopteamBody .team li .teamer-info p{text-indent: 2em;}
.shopteamBody .team li .teamer-info img{max-width: 600px;}
.shopteamBody .team li .teamer_sbsolute_for_id{position: absolute;top:-150px;left: 0px;}

.w30{ width:20%; padding-top:15px; padding-left:2%; padding-left:2%;}
.w40{ width:39%;}
.w20{ width:39%; padding-top: 58px; height: 198px; background-color:#f5f5f5;}
.w20 li{ width:50%; text-align:center;}
.w20 li div{ margin-top:5px}



.storeinfoheader{background-color: #FFFFFF;}
#storeinfoheader_null{width: 100%;height: 45px;display: none;}
.storeinfoheader .infoheader1200{width: 1200px; margin: auto; font-family: arial, "\5FAE\8F6F\96C5\9ED1"}
.storeinfoheader .infoheader1200 .storename{margin-left: 20px;}
.storeinfoheader .infoheader1200 .storelevel{padding: 0px 15px; }
.storeinfoheader .infoheader1200 .storeensure{position: relative;}
.storeinfoheader .infoheader1200 .storeensure .ensuretitle{padding-left: 15px; line-height: 25px; margin: 10px 0px; border-left: #d4d4d4 1px solid; height: 25px;}
.storeinfoheader .infoheader1200 .storeensure .ensurelist{padding-left: 10px; line-height: 25px; margin: 10px 20px 10px 0px; height: 25px;}
.storeinfoheader .infoheader1200 .monthtitle{padding-left: 15px; line-height: 25px; margin: 10px 0px; border-left: #d4d4d4 1px solid; height: 25px;}
.storeinfoheader .infoheader1200 .goodratetitle{padding-left: 15px; line-height: 25px; margin: 10px 0px; border-left: #d4d4d4 1px solid; height: 25px;}
.storeinfoheader .infoheader1200 .monthmoney{margin-left: 10px; color: #FF3E3E; font-size: 12px; }
.storeinfoheader .infoheader1200 .monthunit{color: #6a6a6a;}
.storeinfoheader .infoheader1200 .monthfree{color: #fff;background-color: #03A1EA;padding: 5px 8px;border-radius: 4px;}
.storeinfoheader .infoheader1200 .goodratevalue{margin-left: 10px;color: #FF3E3E;}
.storeinfoheader .infoheader1200 .divtoggther{line-height: 25px; margin: 10px 10px; border-left: #d4d4d4 1px solid; height: 25px;}
.storeinfoheader .infoheader1200 .divtoggther i{margin-left: 10px; color: #cfcfcf; font-size: 16px;}
.shop_right_box .monthtitle{padding-left: 15px; line-height: 25px; margin: 10px 0px; border-left: #d4d4d4 1px solid; height: 25px;}
.shop_right_box .goodratetitle{padding-left: 15px; line-height: 25px; margin: 10px 0px; border-left: #d4d4d4 1px solid; height: 25px;}
.shop_right_box .monthmoney{color: #FF3E3E; }
.shop_right_box .monthunit{color: #6a6a6a;}
.shop_right_box .monthfree{color: #f00;}
.shop_right_box .goodratevalue{margin-left: 10px;color: #FF3E3E;}
.shop_right_box .store_info_list li{ width:280px;border:none;}
.shop_right_box  .leftdiv{width: 290px;height: 100%; border-right:#d4d4d4 1px solid;line-height: 30px;}
.shop_right_box  .rightdiv{line-height: 20px;width: 200px;}
.shop_right_box  .skilltitle{text-align: left; padding: 5px 0px 5px 10px; border-top: 1px solid #d4d4d4;}
.shop_right_box  .hidediv-commontitle{text-align:left; width: 65px; line-height: 14px; height: 14px;padding:2px 5px;font-weight:bold;color: #303030;border-radius: 3px;margin: 5px 0px;}
.shop_right_box  .hidediv-commoncontent{color: #FF3E3E; display: block; text-align: left;}
.shop_right_box  .skill {margin-left: 5px;}
.shop_right_box  .skill a{color: #B8B8B8; float: left; padding: 2px 10px;border:#d4d4d4 1px solid; border-radius: 4px;margin: 5px 5px;}
.shop_right_box  .skill a:hover{ border: 1px solid #00aeff; color: #00aeff; }
.shopsourceinfo{}
.shopsourceinfoMain { font-family: \5FAE\8F6F\96C5\9ED1; margin: 10px auto; padding: 0 auto;width: 100%; height: auto; display: block; overflow: hidden; }
.shopsourceinfoMain .sourcepic{ max-width:570px; height:auto!important; min-height:300px; max-height: 1200px; padding: 24px; margin-bottom: 10px;}
.shopsourceinfoMain .rightsourceinfo{ float: right;  width: 565px; height: 730px; margin: 0px; padding: 0px; background-color: #ffffff; border: 1px solid #d0d0d0; overflow: hidden; }

.new_star{width:114px;margin: auto; height: 20px; background: url(/static/cpk/public/images/star.gif) no-repeat -4px -20px;}
.new_star .star_mask{display:block;height: 20px; background: url(/static/cpk/public/images/star.gif) no-repeat -4px 2px;}
.position_01{top:-80px!important;} 
.position_02{top:-200px!important;}
.position_03{top:-240px!important;}  
.leftsourceinfo .showbigimg{text-align: center;}
.leftsourceinfo .showbigimg div {width: 270px;margin: auto;}
.leftsourceinfo .showbigimg a {line-height: 60px;border-radius: 5px;text-align: center;color: #606060; display: block;width: 270px;height: 60px;background-color: #F8F8F8; border: #D9D9D9 1px solid; font-size: 25px;}
.leftsourceinfo .keywords{padding: 10px 20px;color:#686868;}
.leftsourceinfo{ float:left; width: 618px; height: 730px; min-height:728px; height:auto!important; background-color: #ffffff;  border: 1px solid #d0d0d0; }
                             
.rightsourceinfo{border: #dfdfdf 1px solid; margin: 10px 0px 0px 0px; height:617px; width: 430px;}
.rightsourceinfo .sourceinfonumdata{margin-top: 10px;border-bottom: #dfdfdf 1px solid;  font-size: 16px;}
.rightsourceinfo .sourceinfonumdata .numblock{margin-left: 10px;padding: 10px 5px;color: #909090;}
.rightsourceinfo .sourceinfonumdata .numblock i{margin-left: 10px;color: #909090;}
.rightsourceinfo .sourceinfonumdata .numblock span{margin-left: 10px;}
.rightsourceinfo .sourceinfodata{margin-top: 20px; }
.rightsourceinfo .sourceinfodowndata{}
.rightsourceinfo h1{ line-height: 38px;}
.rightsourceinfo .sourceinfodowndata .downblock{text-align:center; line-height: 60px; width:235px;height: 60px;background-color: #00B1FF;border-radius: 6px;}
.rightsourceinfo .sourceinfodowndata .collectblock{margin-left: 15px; text-align: center; line-height: 60px; width:235px;height: 60px;border-radius: 6px;}
.rightsourceinfo .sourceinfodowndata .collectblock a{border-radius: 6px;background-color: #FF8B1A; font-size: 20px; color: #FFF; display: block;}
.rightsourceinfo .sourceinfodowndata .downblock a{font-size: 20px; color: #FFF; display: block;}


.rightsourceinfo .u-use-name{height:60px; padding: 15px 40px; line-height: 60px; background-color: #f5f5f5;border-bottom: #dfdfdf 1px solid;}
.rightsourceinfo .u-use-name .u-use-pic{ float:left; border-radius:30px;overflow: hidden; line-height: 60px; width: 60px;height: 60px; display: block;}
.rightsourceinfo .u-use-name .u-use-tit{ float:left; display: inline; margin-left:20px; font-size:24px;}
.rightsourceinfo .u-use-cont{ padding:30px; width: 505px; height: auto;} 
.rightsourceinfo .u-use-cont ul{ width:100%; height:auto; overflow:hidden;}
.rightsourceinfo .u-use-cont .u-use-price{ font:normal 30px/38px "\5FAE\8F6F\96C5\9ED1"; margin-top: 10px; }
.rightsourceinfo .u-use-cont ul li{ float:left; }
.rightsourceinfo .sourceinfodata .keywords{ width: 100%; height:72px; font:normal 14px/18px "\5FAE\8F6F\96C5\9ED1"; overflow: hidden; }
.rightsourceinfo .sourceinfodata .datablock{ width: 100%; margin-top:10px; font-size: 16px;color:#333;}
.rightsourceinfo .sourceinfodata .datablock span{ float: left; }
.rightsourceinfo .sourceinfodata .datablock .datablock-title{width:80px;}




.u-service-tab{width: 140px;height: 38px;display: block;color: #fff;text-align: center;border-top-right-radius: 4px;border-top-left-radius: 4px;background-color: #dfdfdf;}
.u-service-tab:hover{color: #fff;}
.u-service-tab i{color: #FFF;}
.u-service-tab.cur{background-color: #f60;}
.u-uploadify-button{color: #FFF;background: #0071BE;text-align: center;border-radius: 5px;}


.shop_right_box{text-align: center; width:50px; height: auto; background-color: #fff; position: fixed; right: 0px; top: 190px; z-index:300; font:normal 12px/2 "\5FAE\8F6F\96C5\9ED1";}
.shop_right_box>ul{box-shadow: 0px 0px 10px #d0d0d0;}
.shop_right_box ul li {position: relative;  display: block; margin:0 auto;  border-top: none;  }
.shop_right_box .u-sidbar-contact{ background: url('/static/cpk/public/images/store_elevator.png') no-repeat; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;}
.shop_right_box .shop_icon01{ width: 50px; height:50px; background-position: -8px -591px; }
.shop_right_box .shop_icon02{ width: 50px; height:50px; background-position: -8px -652px;}
.shop_right_box .shop_icon03{ width: 50px; height:50px; background-position: -8px -714px;}
.shop_right_box .shop_icon04{ display: block; width: 110px; height:38px; background-position: -8px -478px;}
.shop_right_box .shop_icon05{ display: block; width: 110px; height:38px; background-position: -8px -520px;}
.shop_right_box .shop_alert{ display: block; position:absolute; z-index: 400; width: 300px; height:auto; top:0px;left:-300px;box-shadow: 0px 0px 10px #d0d0d0; display: none; background-color: #fff;}
.shop_right_box .shop_icon02>.shop_alert{ top: -40px; }
.shop_right_box .shop_icon03>.shop_alert{ top: -100px; }
.shop_right_box .shop_alert ul{ display:block; height:auto; overflow:hidden; }
.shop_right_box .shop_alert ul li{ width:260px; font: normal 14px/36px "\5FAE\8F6F\96C5\9ED1"; color: #333; overflow: hidden; }
.shop_right_box .shop_alert .bgc3 .u-ser-label{padding: 0px 20px 20px 20px; text-align: left; }
.shop_right_box .shop_alert ul li .shop_alt_tt{ float:left;   width: 70px;text-align:left; }
.shop_right_box .shop_alert ul li .shop_alt_cont{ float:left; width:190px;  text-align:left; }
.shop_right_box .shop_alert .sline{ width:260px; margin: 0px 20px; height: 1px; background-color: #e0e0e0; overflow: hidden; }
.shop_right_box .u-shop-tel{ margin-left:20px; margin-top: 5px; }
.shop_right_box .u-shop-icon{ width: 240px; height: 60px; padding: 0px 30px; background-color: #f5f5f5; }
.shop_right_box .u-shop-icon a{ margin-top: 12px; }
.shop_right_box .u-shop-code{ padding: 20px 30px; }
.shop_right_box .u-shop-code>span { float: left; width: 100px; height:auto;  }
.shop_right_box .u-shop-code>span>i{ display: block; color: #333; font:normal 14px/18px "\5FAE\8F6F\96C5\9ED1" ; text-align: center; margin-top: 5px; }
.shop-mt-10{margin-top:10px; *margin-top:10px; margin-top:10px\9;}
.m-store-avatarbox{position: relative;}
.m-store-avatarbox .u-storename-div{pointer-events:none; text-align:center; color: #fff;line-height:28px;width:180px; padding: 5px 10px;  position: absolute;bottom:0px; background: url('/static/weike/images/bg-black.png');  }
.m-store-avatarbox .u-storename-div h3{font-size: 18px;}


.m-shopservice-800 img{max-width: 800px;}
.m-shopservice-1200 img{max-width: 1160px;}


.m-shopchuangpin-900 img{max-width: 850px;}

.m-shop-record{height: 25px; line-height: 25px;}
.m-shop-record span{margin-right: 40px;}
.m-shop-record span.price{color: #fb0303; font-size: 14px; font-weight: bold;}
.m-shop-record span.title{color: #0066cc; font-size: 14px; font-weight: bold;}
.m-shop-record span.info{color: #333333;float: right;}
.m-shop-record span.info em{color: #ff0404;}

.m-shop-recordcontent{margin-top: 20px; font-family: '\5FAE\8F6F\96C5\9ED1';}
.m-shop-recordcontent .record_employer_img{width: 54px; height: 54px; float: left; margin: 10px 15px 0 0; border:1px solid #e4e4e4;}
.m-shop-recordcontent .record_employer_content{float: left; width: 550px; position: relative;}
.m-shop-recordcontent .b_right_pingjia_icon{position: absolute; left: -10px; top: 40px; background: url(/static/weike/images/b_right_pingjia_icon.gif) no-repeat; width: 11px; height: 13px;}
.m-shop-recordcontent .record_employer_content .content_title{height: 25px;}
.m-shop-recordcontent .record_employer_content .content_title span{margin-right: 20px;}
.m-shop-recordcontent .record_employer_content .content_title span.zhong{color: #8a8989;}
.m-shop-recordcontent .record_employer_content .content_title span.title a{color: #0066cc;}
.m-shop-recordcontent .record_employer_content .content_text{ border:1px solid #dcdcdc; background: #f4f4f4; padding: 15px; color: #8a8989; margin: 0px 0 10px;}
.m-shop-recordtime{color: #8a8989;float: right;clear: both;}