.icon-rank1, .icon-rank2, .icon-rank3, .icon-rank4, .icon-rank5, .icon-rank6 {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -2px;
}
.iconbg{
    background: url(../images/buyheader.png) no-repeat;
    background-size: 200px auto;
}




.m-buy-header {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}
.m-buy-header .u-header-iconhome {
    width: 52px;
}
.m-buy-header .u-header-iconhome:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 15px;
    width: 23px;
    height: 22px;
    background-position: 0 0;
}
.m-buy-header .u-header-iconhome:before {
    background: url(../images/buyheader.png) no-repeat;
    background-size: 200px auto;
}

.m-buy-header .u-header-iconhome{
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    text-indent: -100px;
    overflow: hidden;
}
.m-buy-header .u-header-usericon {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: 109px 90px;
    background-position: 0 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 11px;
}

.m-buy-header .u-header-boxsize {
    padding: 7px 52px 7px 52px;
}

.m-buy-header .u-header-boxsize {
	display: block;
    width: 100%;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.m-buy-header .u-header-boxsize .boxsize-topnav {
    position: relative;
    width: 100%;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
}
.m-buy-header .u-header-boxsize .boxsize-topnav .tcity {
    float: left;
    padding-left: 8px;
    color: #666;
}
.m-buy-header .u-header-boxsize .boxsize-topnav .tcity:after {
    content: "";
    float: right;
    width: 1px;
    height: 15px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: #e6e6e6;
}
.m-buy-header .u-header-boxsize .boxsize-topnav .tcity .arrow-down {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    vertical-align: 3px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.m-buy-header .u-header-boxsize .boxsize-topnav .tsearch {
    height: 28px;
    font-size: 13px;
    color: #999;
}

@media screen and (max-width: 374px){
    .m-buy-header .u-header-boxsize .boxsize-topnav .tsearch {
	    font-size: 12px;
	}
}
.m-buy-header .u-header-boxsize .boxsize-topnav .tsearch:before {
    content: "";
    display: inline-block;
    vertical-align: -1px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-left: 10px;
    background-position: 0 0;
}
.m-buy-header .u-header-boxsize .boxsize-topnav .tsearch:before {
    background: url(../images/buysearch.png) no-repeat;
    background-size: 55px auto;
}

.m-buy-header .u-header-iconcolumn {
    left: inherit;
    right: 32px;
    width: 50px;
    position: absolute;
    top: 0;
    height: 44px;
    text-indent: -100px;
    overflow: hidden;
}
.m-buy-header .u-header-iconcolumn:before {
    background: url(../images/buyheader.png) no-repeat;
    background-size: 200px auto;
}
.m-buy-header .u-header-iconcolumn:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-position: -53px 0;
}



.m-buy-filter{
    position: relative;
}

.m-buy-filter .u-filter-nav {
    z-index: 100;
    display: -webkit-box;
    display: box;
    width: 100%;
    height: 41px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.m-buy-filter .u-filter-nav a {
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: block;
    line-height: 41px;
    color: #252825;
    text-align: center;
}
.m-buy-filter .u-filter-nav .nav-item:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    vertical-align: 3px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.m-buy-filter .u-filter-nav .nav-item.active:after {
    vertical-align: 0;
    border-top: 1px solid #0098db;
    border-right: 1px solid #0098db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.m-buy-filter .u-filter-nav .nav-item.active {
    color: #0098db;
}
.m-buy-filter .u-filter-nav  .nav-subscribe:before{
    background: url(../images/buyheader.png) no-repeat;
    background-size: 200px auto;
}
.m-buy-filter .u-filter-nav  .nav-subscribe:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 15px;
    margin-right: 5px;
    vertical-align: -3px;
    background-position: -15px -48px;
}
.m-buy-filter .u-filter-nav  .nav-subscribe:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 1px;
    height: 20px;
    background-color: #e6e6e6;
}


.m-buy-filter .u-filter-box {
    display: none;
    background-color: #fff;
    color: #252825;
}

.m-buy-filter .u-filter-box.active {
    display: block;
}

.m-buy-filter .u-filter-box.filter-box-rank{
	padding-left: 15px;
}

.m-buy-filter .u-filter-box li.active a {
    color: #0098db;
}

.m-buy-filter .u-filter-box ul.row-list li  a {
    display: block;
    height: 43px;
    line-height: 43px;
    color: #8a8a8a;
    border-bottom: 1px solid #e6e6e6;
}
.m-buy-filter .u-filter-box ul.row-list li.active a {color: #0098db;}
.m-buy-filter .u-filter-box li.active .icon-rank1 {
    background-position: -15px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank1 {
    background-position: 0px -28px;
}
.m-buy-filter .u-filter-box li.active .icon-rank2 {
    background-position: -45px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank2 {
    background-position: -30px -28px;
}
.m-buy-filter .u-filter-box li.active .icon-rank3 {
    background-position: -75px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank3 {
    background-position: -60px -28px;
}
.m-buy-filter .u-filter-box li.active .icon-rank4 {
    background-position: -105px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank4 {
    background-position: -90px -28px;
}
.m-buy-filter .u-filter-box li.active .icon-rank5 {
    background-position: -135px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank5 {
    background-position: -120px -28px;
}
.m-buy-filter .u-filter-box li.active .icon-rank6 {
    background-position: -165px -28px;
}
.m-buy-filter .u-filter-box li .icon-rank6 {
    background-position: -150px -28px;
}







.m-buy-filter .u-filter-box.filter-box-price {
    box-sizing: border-box;
    display: none222222;
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 100;
}
.m-buy-filter .u-filter-box.filter-box-price {
    position: relative;
    width: 100%;
    z-index: 600;
}



.m-buy-filter .u-filter-box .lab-list {
    padding: 0 5px 20px 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.m-buy-filter .u-filter-box .lab-list li {
    margin-top: 12px;
    padding: 0 6px;
    float: left;
    width: 33.3%;
    box-sizing: border-box;
}

.m-buy-filter .u-filter-box .lab-list li a {
    display: block;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    color: #404040;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}
.m-buy-filter .u-filter-box .lab-list li.active a {
    color: #0098db; 
    background-color: #f1fff3; 
    border: 1px solid #0098db; 
}
.m-buy-filter .u-filter-box .lab-list li.active a:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    vertical-align: 4px;
    border-bottom: 1px solid #0098db;
    border-left: 1px solid #0098db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.m-buy-filter .u-filter-box .list-pirce li.active a:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    vertical-align: 4px;
    border-bottom: 1px solid #0098db;
    border-left: 1px solid #0098db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.m-buy-filter .u-filter-box .list-order  li.active a:after {
    content: "";
    float: right;
    width: 14px;
    height: 6px;
    margin-top: 16px;
    margin-right: 15px;
    border-bottom: 1px solid #0098db;
    border-left: 1px solid #0098db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.m-buy-filter .u-filter-box.filter-box-price .range-title {
    
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 50px;

}

.m-buy-filter .u-filter-box.filter-box-price .range-title span {
    font-size: 13px;
    color: #a0a0a0;
}
.m-buy-filter .u-filter-box.filter-box-price .range-title .btn.active {
    background-color: #0098db;
}


.m-buy-filter .u-filter-box.filter-box-price .range-title .btn {
    width: 48px;
    height: 23px;
    margin-top: 14px;
    font-size: 13px;
    line-height: 23px;
    background-color: #ccc;
}






.m-buy-filter .u-filter-box.filter-box-price .u-rangebox-load {
    margin: 0 40px;
    padding: 32px 0 12px;
    position: relative;
}
.m-buy-filter .u-rangebox-load .load-outer {
    height: 4px;
    border-radius: 2px;
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
}
.m-buy-filter .u-rangebox-load .load-inner {
    position: absolute;
    background-color: #0098db;
}
.m-buy-filter .u-rangebox-load .load-inner, .load-outer {
    height: 4px;
    border-radius: 2px;
}

.m-buy-filter .u-rangebox-load .curr-price {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 100px;
    height: 18px;
    margin-left: -50px;
    font-size: 13px;
    color: #0098db;
    text-align: center;
    border: 1px solid #0098db;
    border-radius: 2px;
}
.m-buy-filter .u-rangebox-load .icon-range:before {
    content: "";
    display: block;
    width: 10px;
    height: 16px;
    margin: 6px auto;
    background: url(../images/icon-range.png) no-repeat;
    background-size: 10px auto;
}
.m-buy-filter .u-rangebox-load .icon-range {
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    margin-left: -15px;
    margin-top: -14px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 #f2f2f2;
}


.m-buy-filter .u-filter-box.filter-box-price .u-rangebox-load .load-zero {
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 13px;
    color: #a0a0a0;
}
.m-buy-filter .u-rangebox-load .load-num {
    display: -webkit-box;
    width: 100%;
    padding-top: 21px;
}
.m-buy-filter .u-rangebox-load .load-num li {
    -webkit-box-flex: 1;
    font-size: 13px;
    color: #a0a0a0;
    text-align: right;
}


.m-buy-list {
    padding-left: 15px;
    background-color: #fff;
    position: relative;
    margin-bottom: 80px;
}


.m-buy-list .u-list-findnum {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none2;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
}


.m-buy-list .u-list-default .car-info {
    position: relative;
    display: block;
    min-height: 80px;
    padding: 15px 15px 15px 130px;
    border-bottom: 1px solid #e6e6e6;
}

.m-buy-list .u-list-default .car-img {
    margin-left: -130px;
    position: relative;
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 10px;
}
.m-buy-list .u-list-default .car-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.m-buy-list .u-list-default .tag-new {
    top: 0;
    z-index: 4;
    width: 38px;
    height: 38px;
    text-indent: -100px;
    overflow: hidden;
    background: url(../images/buy/car_new.png) no-repeat -60px 0;
    background-size: 100px auto;
}

.m-buy-list .u-list-default .tag-new {
    position: absolute;
    left: 0;
    white-space: nowrap;
}

.m-buy-list .u-list-default .car-name {
    font-weight: 400;
    line-height: 16px;
    color: #252825;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
}

.m-buy-list .u-list-default .car-km {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
}

.m-buy-list .u-list-default .label-pbox {
    margin-bottom: -1px;
    padding-top: 5px;
    height: 16px;
}



.m-buy-list .u-list-default .icon-sta1,.m-buy-list .u-list-default .icon-sta2,.m-buy-list .u-list-default .icon-sta3 {
    display: inline-block;
    height: 14px;
    margin-top: 4px;
    margin-left: 4px;
    padding: 0 3px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    border-radius: 2px;
}
.m-buy-list .u-list-default .icon-sta1 {
    color: #0098db;
    border: 1px solid #0098db;
}
.m-buy-list .u-list-default .icon-sta2 {
    color: #ff5b35;
    border: 1px solid #ff5b35;
}
.m-buy-list .u-list-default .label-pbox span {
    margin: 0 4px 0 0;
}
.m-buy-list .u-list-default .label-pbox span {
    float: left;
}

.m-buy-list .u-list-default .car-price {
    margin-top: 6px;
    font-size: 0;
    overflow: hidden;
}

.m-buy-list .u-list-default .car-price strong {
    margin: 0;
    padding-right: 5px;
    font-size: 17px;
    line-height: 18px;
    color: #ff7e00;
}
.m-buy-list .u-list-default .car-price .fc-ac {
    color: #acacac;
    font-size: 11px;
    display: inline-block;
    line-height: 18px;
    vertical-align: bottom;
}
.m-buy-list .u-list-default .car-price .fc-ac .text-line {
    text-decoration: line-through;
}

.m-public-pagefixed.active {
    display: block;
}

.m-public-pagefixed {
    position: fixed;
    left: 50%;
    bottom: 60px;
    z-index: 18;
    width: 50px;
    margin-left: -25px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    background: rgba(0,0,0,.5);
}




.m-buy-filter .u-filter-box .filter-main{
    padding-left: 15px;
    background-color: #fff;
}

.m-buy-filter .u-filter-box .filter-section .subtit {
    padding: 15px 0 0;
    font-size: 16px;
}


.m-buy-filter .u-filter-box .type-car li {
    float: left;
    width: 33.3%;
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
}

.m-buy-filter .u-filter-box .type-car li:nth-child(1),.m-buy-filter .u-filter-box  .type-car li:nth-child(4) {
    padding-left: 0;
}

.m-buy-filter .u-filter-box .type-car li a {
    display: block;
    height: 57px;
    padding-top: 5px;
    color: #404040;
    border: 1px solid #fff;
    border-radius: 2px;
}
.m-buy-filter .u-filter-box .type-car li.active a {
    color: #0098db;
    background-color: #f1fff3;
    border: 1px solid #0098db;
}


.icon-car {
    display: block;
    width: 70px;
    height: 27px;
    margin: 0 auto 5px;
    background: url(/static/module/car/images/buy/icon_car.png) no-repeat;
    background-size: 210px auto;
}

.icon-ctwo {
    background-position: 0 0;
}
.icon-cthree {
    background-position: -70px 0;
}
.icon-crun {
    background-position: -140px 0;
}
.icon-csuv {
    background-position: 0 -29px;
}

.icon-cmpv {
    background-position: -70px -29px;
}


.csuv-box {
    z-index: 99;
    height: 106px;
    background-color: #fff;
    border-radius: 2px;
}

.csuv-box .lab-list {
    padding: 2px 7px 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.csuv-box .lab-list li {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding: 0 5px;
    box-sizing: border-box;
}
.csuv-box .lab-list li a {
    display: block;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    color: #404040;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}
.csuv-box .lab-list .active a{
    color: #0098db;
    background-color: #f1fff3;
    border: 1px solid #0098db;
}
.csuv-box .lab-list .active a:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 8px;
    vertical-align: 4px;
    border-bottom: 1px solid #0098db;
    border-left: 1px solid #0098db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.m-buy-filter .u-filter-box .downbox {
    position: relative;
    width: 100%;
}

.m-buy-filter .u-filter-box .caryearfilter-title {
    height: 50px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 50px;
}
.m-buy-filter .u-filter-box .caryearfilter-title span {
    font-size: 13px;
    color: #a0a0a0;
}

.m-buy-filter .u-filter-box .caryearfilter-title .ramout {
    float: right;
    font-size: 14px;
    color: #606060;
}



.icon-color {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: -2px;
    border-radius: 50%;
}

.icon-black {
    background-color: #232323;
}
.icon-white {
    background-color: #fff;
}
.icon-grey {
    background-color: #dfe1de;
}

.icon-grey2 {
    background-color: #707070;
}
.icon-red {
    background-color: #ff5350;
}
.icon-orange {
    background-color: #ffa13f;
}
.icon-green {
    background-color: #87e869;
}
.icon-blue {
    background-color: #4ec1ff;
}
.icon-brown {
    background-color: #99691f;
}
.icon-purple {
    background-color: #d584e9;
}
.icon-champagne {
    background-color: #ead795;
}

.icon-multicolor,.icon-other{
    background: url(/static/module/car/images/buy/iconbg.png) no-repeat;
    background-size: 200px auto;
}
.icon-multicolor {
    background-position: -60px -48px;
}
.icon-yellow {
    background-color: #ffd943;
}
.icon-other {
    background-position: -78px -48px;
}
.icon-other, .icon-white {
    width: 12px;
    height: 12px;
    border: 1px solid #e1e1e1;
}


.m-buy-filter .u-filter-result {
    padding: 10px 55px 2px 15px;
    overflow: hidden;
}

.m-buy-filter .u-filter-result .mod-tags li {
    float: left;
    height: 24px;
    margin: 0 8px 8px 0;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
    line-height: 24px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.icon-close {
    position: absolute;
    text-indent: -100px;
    overflow: hidden;
}
.m-buy-filter .u-filter-result .mod-tags .icon-close {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
}
.m-buy-filter .u-filter-result .mod-tags .icon-close:after,.m-buy-filter .u-filter-result  .mod-tags .icon-close:before {
    top: 0;
    left: 4px;
    width: 1px;
    height: 8px;
    background-color: #ccc;
}

.m-buy-filter .u-filter-result .btn-reset {
    width: 40px;
    margin-right: -40px;
}


.result-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 88;
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
}

.result-fixed p {
    float: left;
    width: 70%;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.result-fixed p strong {
    color: #0098db;
}
.result-fixed .btn {
    float: right;
    width: 30%;
    height: 48px;
    line-height: 48px;
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    background-color: #0098db;
    border: none;
    box-sizing: inherit;
}