.m-carconfig-head {
    z-index: 100;
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #f6f6f6;
    overflow: hidden;
}

.m-carconfig-head h1 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 56px;
    overflow: hidden;
}

.m-carconfig-head .u-head-back {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -100px;
    overflow: hidden;
    height: 45px;
    width: 45px;
}

.m-carconfig-head .u-head-back:before{
    left: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    margin: -6px 0 0 16px;
}


.m-carconfig-info {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 6px;
}

.m-carconfig-info h2 {
    font-weight: 400;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.m-carconfig-info p {
    color: #ff7e00;
    line-height: 28px;
    font-size: 18px;
}

.m-carconfig-info p em {
    color: #ff7e00;
    font-size: 12px;
}


.m-carconfig-detail {
    border-top: 0;
    padding: 0;
}

.m-carconfig-detail .u-detail-block{
    background-color: #fff;
    overflow: hidden;
}

.m-carconfig-detail .u-detail-block .block-head {
    padding: 8px 10px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 700;
    height: 33px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.m-carconfig-detail .u-detail-block .block-head  .head-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 33px;
}

.m-carconfig-detail .u-detail-block .block-head  .head-title:before {
    width: 2px;
    margin: 9px 5px 0 0;
    content: "";
    float: left;
    height: 14px;
    background-color: #0098db;
}

.m-carconfig-detail .u-detail-block .block-body {
    position: relative;
    overflow: hidden;
}

.m-carconfig-detail .u-detail-block .block-body .list-item {
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    width: 100%;
    padding: 7px 10px;
}

.m-carconfig-detail .u-detail-block .block-body li p, .u-detail-block .block-body li span {
    font-size: 14px;
}

.m-carconfig-detail .u-detail-block .block-body li span {
    color: #333;
    width: 115px;
    line-height: 27px;
    display: block;
    float: left;
}

.m-carconfig-detail .u-detail-block .block-body li p {
    line-height: 27px;
    float: right;
    color: #999;
}

.m-carconfig-tip {
    padding: 10px 15px 10px 27px;
    line-height: 20px;
    background-size: 12px auto;
    font-size: 12px;
    color: #999;
}