.m-changebrand-head {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}

.m-changebrand-head h1 {
    margin: 0 44px;
    font-size: 18px;
    line-height: 44px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.m-changebrand-head .icon-close {
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
}

.m-changebrand-head .icon-close {
    position: absolute;
    text-indent: -100px;
    overflow: hidden;
}

.m-changebrand-head .icon-close:before {
    top: 15px;
    left: 21px;
    width: 1px;
    height: 14px;
    background-color: #9e9e9e;
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m-changebrand-head .icon-close:after{
    top: 15px;
    left: 21px;
    width: 1px;
    height: 14px;
    background-color: #9e9e9e;
    content: "";
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.m-changebrand-topbox {
    padding-bottom: 12px;
    background-color: #fff;
}


.m-changebrand-topbox .u-subtit {
    padding: 15px 0 2px 10px;
}

.m-changebrand-topbox .u-brand-list {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.m-changebrand-topbox .u-brand-list li {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.m-changebrand-topbox .u-brand-list li a {
    display: block;
    padding: 7px 0 5px;
    font-size: 12px;
    color: gray;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.m-changebrand-topbox .u-brand-list li a img {
    margin-top: 5px;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}


.icon-brand {
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 auto 2px;
    background: url(/static/module/car/images/chebiaoicon/brand-default.png) no-repeat;
    background-size: 34px auto;
}

.icon-audi {
    background-image: url(/static/module/car/images/chebiaoicon/audi.png);
}

.icon-dazhong {
    background-image: url(/static/module/car/images/chebiaoicon/dazhong.png);
}

.icon-wuling {
    background-image: url(/static/module/car/images/chebiaoicon/wuling.png);
}

.icon-ford {
    background-image: url(/static/module/car/images/chebiaoicon/ford.png);
}

.icon-bmw {
    background-image: url(/static/module/car/images/chebiaoicon/bmw.png);
}

.icon-hyundai {
    background-image: url(/static/module/car/images/chebiaoicon/hyundai.png);
}

.icon-changanshangyong {
    background-image: url(/static/module/car/images/chebiaoicon/changanshangyong.png);
}

.icon-chevrolet {
    background-image: url(/static/module/car/images/chebiaoicon/chevrolet.png);
}

.icon-buick {
    background-image: url(/static/module/car/images/chebiaoicon/buick.png);
}

.icon-zhongtai {
    background-image: url(/static/module/car/images/chebiaoicon/zhongtai.png);
}

.icon-benz {
    background-image: url(/static/module/car/images/chebiaoicon/benz.png);
}




.m-changebrand-mainbox .brand-list li {
    height: 44px;
    padding-left: 64px;
    background-color: #fff;
    overflow: hidden;
}

.m-changebrand-mainbox .brand-list .limit-no {
    padding-left: 15px;
}

.m-changebrand-mainbox .subtit {
    height: 25px;
    padding: 0 0 0 15px;
    font-size: 12px;
    line-height: 25px;
    color: #666;
    background-color: #f5f5f5;
}

.m-changebrand-mainbox .brand-list .limit-no a {
    height: 44px;
    line-height: 44px;
    border-bottom: none;
    display: block;
    color: #252825;
}

.m-changebrand-mainbox .brand-list li .icon-brand {
    float: left;
    margin: 5px 0 0 -49px;
}

.m-changebrand-mainbox .u-aside-brandcarbox .brand-list .limit-no a{
    display: block;
    height: 43px;
    line-height: 43px;
    color: #252825;
    border-bottom: 1px solid #e6e6e6;
}


.m-changebrand-mainbox .u-aside-brandcarbox {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: none;
    width: 80%;
    height: 100%;
    background-color: #fff;
    box-shadow: -8px 0 6px -5px #ebebeb;
}


.m-changebrand-mainbox .u-aside-brandcarbox.active {
    display: block;
}


.m-changebrand-mainbox .u-aside-letter {
    position: absolute;
    top: 32px;
    right: 0;
    width: 30px;
    z-index: 66;
}

.m-changebrand-mainbox .letter-list li {
    width: 30px;
    font-size: 12px;
    line-height: 20px;
    color: #0098db;
    text-align: center;
}

.m-changebrand-mainbox.rel {
    position: relative;
}

.m-changebrand-mainbox .u-aside-letter-fixed {
    top: 15px;
}

.m-changebrand-mainbox .u-aside-brandcarbox .subtit {
    height: 25px;
    padding: 0 0 0 15px;
    font-size: 12px;
    line-height: 25px;
    color: #666;
    background-color: #f5f5f5;
}
.m-changebrand-mainbox .u-aside-brandcarbox .brand-list .limit-no a {
    display: block;
    height: 43px;
    line-height: 43px;
    color: #252825;
    border-bottom: 1px solid #e6e6e6;
}



.m-changebrand-mainbox .brand-list li {
    height: 43px;
    padding-left: 10px;
    background-color: #fff;
    overflow: hidden;
}

.m-changebrand-mainbox .brand-list-car li {
    padding-left: 15px;
}

.m-changebrand-mainbox .brand-list .brandname{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #333;
}
.m-changebrand-mainbox .brand-list .brandname span{
    position: absolute;
    left: 40px;top: 5px;
}
.m-changebrand-mainbox .brand-list li a img {
    margin-top: 5px;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}
.m-changebrand-mainbox .brand-list-car li img {
    float: left;
    width: 50px;
    height: 33px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
}

.brand-list-car li a {
    display: block;
    height: 43px;
    line-height: 43px;
    color: #252825;
    border-bottom: 1px solid #e6e6e6;
}
.brand-list-car li .num {
    float: right;
    margin-right: 15px;
    font-size: 12px;
    color: #acacac;
}