
.m-index-promise .promise-list {
    height: 45px;
}
.m-index-promise .promise-list {
    height: 30px;
    background-color: #fcfcfc;
}

.m-index-promise .promise-list span {
    padding: 0 10px;
    height: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    line-height: 33px;
    width: 33.33%;
    float: left;
    display: block;
    font-size: 11px;
    line-height: 30px;
    color: #666;
    text-align: center;
}
@media only screen and (max-width: 320px){
    .m-index-promise .promise-list span {
        padding: 0 5px;
    }
}

.m-index-promise .column-body {
    padding-bottom: 15px;
}
.m-index-promise .column-body {
    background-color: #fcfcfc;
}

.m-index-promise .entrance-btn li {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
}

.m-index-promise .promise-list span i {
    display: block;
    line-height: 20px;
    border: 1px solid #e0cf9c;
    color: #c68d4f;
    border-radius: 20px;
    text-align: center;
}
@media only screen and (max-width: 414px){
    .m-index-promise .promise-list span i {
        font-size: 12px;
        padding: 0;
    }
}
@media only screen and (max-width: 320px){
    .m-index-promise .promise-list span i {
        font-size: 11px;
        padding: 0;
    }
}


.m-index-buysell {
    padding-bottom: 15px;
}
.m-index-buysell {
    background-color: #fcfcfc;
}
.m-index-buysell .u-buysell-btn li {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
}
.m-index-buysell .u-buysell-btn li a {
    background: #0098db;
    margin: 0 15px 0 7px;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 8px;
}

.m-index-buysell .u-buysell-btn li:nth-child(2) a {
    background-color: #68BDE3;
}



.m-index-column{
    background-color: #fff;
    overflow: hidden;
}

.m-index-column .u-column-head, a.loan {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px;
    overflow: hidden;
}

.m-index-column .u-column-head, a.loan {
    padding: 0;
    background-color: #f1f1f1;
}


.m-index-column .u-column-head .head-title {
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
}

.m-index-column .u-column-head .head-title {
    color: #666;
    font-size: 13px;
}

.m-index-column .u-column-head .head-title:before {
    content: "";
    float: left;
    width: 2px;
    height: 14px;
    background-color: #0098db;
    margin: 5px 7px 0 0;
}

.m-index-column .u-column-head .head-title:before {
    width: 5px;
    height: 12px;
    margin-top: 6px;
}



.m-index-column .u-column-filter {
    position: relative;
    z-index: 100;
    background-color: #fcfcfc;
}





.m-index-column .u-column-filter .filter-type {
    display: block;
    position: relative;
}

.m-index-column .u-column-filter .filter-type .list {
    position: relative;
    overflow: hidden;
}

.m-index-column .u-column-filter .filter-type .list {
    background-color: #fcfcfc;
}

.m-index-column .u-column-filter .filter-type .list .list-item {
    float: left;
    width: 25%;
    border: 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.m-index-column .u-column-filter .filter-type .list .list-item {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}



.m-index-column .u-column-filter .filter-type .list a {
    line-height: 44px;
}

.m-index-column .u-column-filter .filter-type .list a {
    display: block;
    position: relative;
    color: #333;
    font-size: 13px;
    line-height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 14px;
    overflow: hidden;
}

.m-index-column .u-column-filter .filter-type .list.row-four a {
    text-align: center;
    padding: 0 4px;
}
.m-index-column .u-column-filter .filter-type .list .icon {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}


.m-index-column .u-column-filter .filter-type .list  .icon {
    display: inline-block;
}


.m-index-column .u-column-filter .filter-type .list .icon::after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background-size: 30px auto;
}

.m-index-column .u-column-filter .mod-more {
    border-top: 1px solid #e6e6e6;
}
.m-index-column .u-column-filter .mod-more {
    display: block;
    font-size: 13px;
    line-height: 42px;
    text-align: center;
}
.m-index-column .u-column-filter .mod-more, .popup .form-tips b {
    color: #999;
}


.m-index-salecarbox {
    background: #f7b516;
    min-height: 135px;
}

.m-index-salecarbox .t1 {
    font-size: 23px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 8px 0 0;
    font-weight: 700;
}
.m-index-salecarbox .t2 {
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 0 0 15px;
}
.m-index-salecarbox .contact-nubbox {
    padding: 0 15px 15px;
}

.m-index-salecarbox .contact-nubbox input {
    height: 30px;
    border-radius: 4px;
    border: 0;
    padding: 0 5px;
    width: 64.8%;
}


.m-index-salecarbox .contact-nubbox a.btn-salecar {
    display: inline-block;
    width: 30%;
    background: #ff7e00;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 4px;
    margin-left: 4px;
}

.m-index-salecarbox .contact-nubbox button.btn-salecar {
    display: inline-block;
    width: 30%;
    background: #ff7e00;
    text-align: center;
    color: #fff;
    line-height: 30px;
    border-radius: 4px;
    border: none;
}
.m-index-salecarbox .form-warning {
    display: none;
    position: relative;
    background-color: #eee;
    border-top: 1px solid #eee;
    color: #ff9600;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    padding: 8px 0 8px 108px;
    overflow: hidden;
}

.m-index-salecarbox .popup-wrap {
    display: none;
}



.m-index-salecarbox .list {
    display: -webkit-box;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}

.m-index-salecarbox .list li {
    line-height: 44px;
    text-align: center;
    position: relative;
}
.m-index-salecarbox .list .list-item {
    display: list-item;
    box-sizing: border-box;
    border-bottom: 1px solid #EEE;
}
.m-index-salecarbox .list .list-item, .list.row-one .list-item, .list.row .list-item {
    width: 50%;
}
.m-index-salecarbox li .icon-loan,.m-index-salecarbox li .icon-keep {
    background: url(../images/search.png) no-repeat;
    background-size: 200px auto;
}
.m-index-salecarbox .list a::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-width: 1px;
    width: 7px;
    height: 7px;
    left: 50%;
    top: 18px;
    margin-left: 31px;
}

.m-index-salecarbox .list a {
    display: block;
    color: #666;
    position: relative;
    text-indent: -15px;
}


.m-index-salecarbox li .icon-keep, .m-index-salecarbox li .icon-loan {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -5px;
    margin-right: 2px;
}

.m-index-salecarbox li .icon-keep {
    background-position: -173px -3px;
}

.m-index-salecarbox li .icon-loan {
    background-position: -151px -3px;
}

.m-index-salecarbox .list li:first-child:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 27px;
    background-color: #e6e6e6;
    top: 9px;
    right: 0;
}

.m-index-column.u-column-body .studybox li:first-child {
    border-top: medium none;
}
.m-index-column .u-column-body .studybox li {
    line-height: 43px;
    border-top: 1px solid #EEE;
}

.m-index-column .u-column-body .studybox li a, .studybox li a:hover {
    color: #333;
    text-decoration: none;
    padding: 0px 15px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}