.m-carinstalment-head {
    z-index: 100;
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #f6f6f6;
    overflow: hidden;
}

.m-carinstalment-head h1 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 56px;
    overflow: hidden;
}

.m-carinstalment-head .u-head-back {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -100px;
    overflow: hidden;
    height: 45px;
    width: 45px;
}

.m-carinstalment-head .u-head-back:before{
    left: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    margin: -6px 0 0 16px;
}



.m-carinstalment-carinfo {
    height: 75px;
    padding: 5px 5px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    position: relative;
}

.m-carinstalment-carinfo .u-carinfo-carpic {
    width: 112px;
    height: 70px;
}

.m-carinstalment-carinfo .u-carinfo-info {
    position: absolute;
    left: 125px;
    top: 5px;
    line-height: 13px;
    padding-right: 0px;
    height: 70px;
    font-size: 13px;
}

.m-carinstalment-carinfo .u-carinfo-carpic img {
    width: 100%;
    height: 100%;
}

.m-carinstalment-carinfo .u-carinfo-info .priceInfo {
    position: absolute;
    bottom: 0;
}
.m-carinstalment-carinfo .u-carinfo-info .priceInfo .priceTag {
    color: #e54121;
    font-size: 12px;
    padding-right: 30px;
}
.m-carinstalment-carinfo .u-carinfo-info .priceInfo .delTag {
    font-size: .12px;
    color: #a0a0a0;
    text-decoration: line-through;
}


.m-carinstalment-contentbox {
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}


.m-carinstalment-contentbox .u-contentbox-title {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid #e2e2e2;
}

.m-carinstalment-contentbox .noBottom {
    border-bottom: 0;
}

.m-carinstalment-contentbox .u-contentbox-content {
    padding: 0 .875rem .875rem;
}

.m-carinstalment-contentbox .u-contentbox-content .numArea {
    height: 2.5rem;
    padding: 1.375rem 0 1.125rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    text-align: center;
}

.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem {
    width: 50%;
    float: left;
    color: #a0a0a0;
    font-size: 12px;
    line-height: 20px;
}

.m-carinstalment-contentbox .u-contentbox-content .numArea .line {
    width: 1px;
    height: 28px;
    background-color: #e5e5e5;
    position: absolute;
    left: 50%;
    margin-top: -10px;
}
.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem {
    width: 50%;
    float: left;
    color: #a0a0a0;
    font-size: 12px;
    line-height: 18px;
}
.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem .priceArea {
    height: 22px;
}

.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem .priceArea .priceNum {
    color: #e54121;
    font-size: 18px;
}
.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem .priceArea .priceTag {
    color: #e54121;
    font-size: 14px;
}

.m-carinstalment-contentbox .u-contentbox-content .numArea .numItem .priceDescription {
    font-size: 12px;
}

.m-carinstalment-contentbox .u-contentbox-content .sliderArea .sliderTitle {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
}

.m-carinstalment-contentbox .u-contentbox-content .sliderArea .percentText {
    height: 20px;
    padding-top: 10px;
    font-size: 12px;
    color: #666;
    position: relative;
    line-height: 16px;
    margin-right: 20px;
}

.m-carinstalment-contentbox .u-contentbox-content .loanPlanDescription {
    line-height: 22px;
    color: #a0a0a0;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 12px;
}

.m-carinstalment-contentbox .u-contentbox-process {
    height: 65px;
    padding: 15px 0;
    position: relative;
}
.m-carinstalment-contentbox .u-contentbox-process .arrow1 {
    left: 25%;
}
.m-carinstalment-contentbox .u-contentbox-process .arrow2 {
    left: 50%;
}
.m-carinstalment-contentbox .u-contentbox-process .arrow3 {
    left: 75%;
}
.m-carinstalment-contentbox .u-contentbox-process .processArrow {
    position: absolute;
    top: 26px;
    margin-left: -12px;
    width: 25px;
    height: 16px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url(/static/module/car/images/instalment/processArrow.png);
}

.m-carinstalment-contentbox .u-contentbox-process .processItem {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
    color: #333;
}
.m-carinstalment-contentbox .u-contentbox-process .processItem .processIcon1 {
    background-image: url(/static/module/car/images/instalment/loanProcess1.png);
}

.m-carinstalment-contentbox .u-contentbox-process .processItem .processIcon2 {
    background-image: url(/static/module/car/images/instalment/loanProcess2.png);
}

.m-carinstalment-contentbox .u-contentbox-process .processItem .processIcon3 {
    background-image: url(/static/module/car/images/instalment/loanProcess3.png);
}

.m-carinstalment-contentbox .u-contentbox-process .processItem .processIcon4 {
    background-image: url(/static/module/car/images/instalment/loanProcess4.png);
}

.m-carinstalment-contentbox .u-contentbox-process .processItem .circle {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 592px;
    border: 1px solid #666;
    left: 50%;
    margin-left: -18px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
}

.m-carinstalment-contentbox .u-contentbox-process .processItem .text {
    position: relative;
    margin-top: 45px;
    font-size: 14px;
}

.bottomControl {
    margin-top: 12px;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000;
}

.bottomControl .applyBtn, .bottomControl .telBtn {
    height: 50px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.bottomControl .applyBtn {
    margin-left: 125px;
    background-color: #e54121;
    line-height: 52px;
    color: #fff;
}


.bottomControl a {
    color: #333;
    text-decoration: none;
}
.bottomControl .telBtn {
    position: absolute;
    width: 105px;
    z-index: 1;
    padding-left: 20px;
    left: 0;
    top: 0;
    color: #666;
    line-height: 50px;
}
.bottomControl .telBtn .phoneIcon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 20px;
    top: 17px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url(/static/module/car/images/instalment/phoneIcon.png);
}

.u-contentbox-content .sliderArea .percentText .percentTextItem {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.u-contentbox-content .sliderArea .percentComponent {
    margin: 12px 0;
    height: 4px;
    border-radius: 2px;
    background-color: #e5e5e5;
    position: relative;
}


.m-carinstalment-advantage {
    height: 6.25rem;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
    text-align: center;
    position: relative;
}

.m-carinstalment-advantage .u-advantage-item33, .m-carinstalment-advantage .u-advantage-item34 {
    float: left;
    height: 100%;
    position: relative;
}
.m-carinstalment-advantage .u-advantage-item33 {
    width: 33%;
}
.m-carinstalment-advantage .u-advantage-item34 {
    width: 34%;
}
.m-carinstalment-advantage .icon1 {
    background-image: url(/static/module/car/images/instalment/advantageIcon1.png);
}
.m-carinstalment-advantage .icon2 {
    background-position: 50% 50%;
    background-image: url(/static/module/car/images/instalment/advantageIcon2.png);
}
.m-carinstalment-advantage .icon3 {
    background-image: url(/static/module/car/images/instalment/advantageIcon3.png);
}
.m-carinstalment-advantage .icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.m-carinstalment-advantage .circle {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid #e54121;
    border-radius: 1rem;
    position: absolute;
    top: .9375rem;
    left: 50%;
    margin-left: -1rem;
}
.m-carinstalment-advantage .text {
    padding-top: 2.9375rem;
}
.m-carinstalment-advantage .text1 {
    color: #333;
    font-size: .875rem;
    line-height: 1rem;
    padding-top: .5rem;
}

.m-carinstalment-advantage .text2 {
    color: #999;
    font-size: .75rem!important;
    line-height: 1rem!important;
}



.m-carinstalment-contentbox .u-contentbox-content {
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}
.m-carinstalment-contentbox .u-contentbox-content .leftArea,.m-carinstalment-contentbox  .u-contentbox-content .rightArea {
    width: 50%;
    position: absolute;
    height: 100%;
}
.m-carinstalment-contentbox .u-contentbox-content .leftArea {
    left: 0;
}

.m-carinstalment-contentbox .u-contentbox-content .text1,.m-carinstalment-contentbox  .u-contentbox-content .text2 {
    position: absolute;
    left: .875rem;
    z-index: 10;
}
.m-carinstalment-contentbox .u-contentbox-content .text1 {
    top: .75rem;
    font-size: .875rem;
    line-height: .875rem;
    color: #e54121;
}

.m-carinstalment-contentbox .u-contentbox-content .text2 {
    top: 1.875rem;
    line-height: .75rem;
    font-size: .75rem;
    color: #666;
}
.m-carinstalment-contentbox .u-contentbox-content .text1,.m-carinstalment-contentbox  .u-contentbox-content .text2 {
    position: absolute;
    left: .875rem;
    z-index: 10;
}
.m-carinstalment-contentbox .u-contentbox-content .car3 {
    background-image: url(/static/module/car/images/instalment/car3.jpg);
}
.m-carinstalment-contentbox .u-contentbox-content .car4 {
    background-image: url(/static/module/car/images/instalment/car4.jpg);
    bottom: 0;
}
.m-carinstalment-contentbox .u-contentbox-content .car2 {
    background-image: url(/static/module/car/images/instalment/car2.jpg);
}
.m-carinstalment-contentbox .u-contentbox-content .car1 {
    background-image: url(/static/module/car/images/instalment/car1.jpg);
    height: 3.75rem;
}
.m-carinstalment-contentbox .u-contentbox-content .car {
    width: 6rem;
    height: 4.0625rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    bottom: 0;
    right: .5rem;
}
.m-carinstalment-contentbox .u-contentbox-content .rightArea {
    right: 0;
    border-left: 1px solid #e2e2e2;
}


.m-carinstalment-contentbox .u-contentbox-loanProcess {
    padding: .875rem;
    height: 13.75rem;
    position: relative;
}
.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea {
    width: .9375rem;
    margin: 0 .75rem 0 .625rem;
    position: absolute;
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .icon1 {
    background-image: url(/static/module/car/images/instalment/processIcon1.png);
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .icon2 {
    background-image: url(/static/module/car/images/instalment/processIcon2.png);
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .icon3 {
    background-image: url(/static/module/car/images/instalment/processIcon3.png);
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .icon4 {
    background-image: url(/static/module/car/images/instalment/processIcon4.png);
}


.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .item {
    position: relative;
    height: 1.75rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .iconArea .item .line {
    position: absolute;
    width: 1px;
    left: 50%;
    height: .9375rem;
    margin-left: -1px;
    background-color: #e54121;
}


.m-carinstalment-contentbox .u-contentbox-loanProcess .processTextArea {
    position: absolute;
    left: 3.1875rem;
    padding-right: .875rem;
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .processTextArea .textItem {
    height: 3.5rem;
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .processTextArea .textItem .processTitle {
    font-size: .875rem;
    color: #333;
    line-height: 1rem;
}

.m-carinstalment-contentbox .u-contentbox-loanProcess .processTextArea .textItem .description {
    font-size: .75rem;
    color: #999;
    line-height: 1rem;
    padding-top: .1875rem;
}


.partner {
    margin: .625rem .75rem 0;
    height: 6.875rem;
    position: relative;
    overflow: hidden;
}


.partner .partnerContent {
    position: absolute;
    width: 26.625rem;
}
.partner .partnerContent .partnerItem {
    overflow: hidden;
    width: 5.875rem;
    height: 2.6875rem;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    float: left;
    margin: 0 .3125rem .625rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
}
.partner .partnerContent .partnerItem img {
    width: 100%;
}