html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline
}
html {
    box-sizing:border-box;
    font-size:12px;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    background:#fff
}
input,textarea,button {
    -webkit-appearance:none;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family:"Hiragino Sans GB","Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",Helvetica,Arial,sans-serif
}
input:focus,textarea:focus,button:focus {
    outline:0
}
body {
    line-height:1.8;
    font-size:12px;
    color:#000;
    background-color: #e9eaee;
    font-family:"Microsoft Yahei",Tahoma,"SimSun";
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -moz-font-feature-settings:"liga" on
}
select {
    font-size:12px;
    padding:2px 5px;
    border:1px solid #e2e2e2
}
article,aside,details,figcaption,figure,footer,header,main,nav,section {
    display:block
}
ol,ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
img {
    max-width:100%;
    height:auto;
    border:0;
    display:block
}
button::-moz-focus-inner {
    border:0;
    padding:0
}
a {
    color:inherit;
    text-decoration:none
}
input[disabled] {
    cursor:default;
    color:rgba(0,0,0,.8);
    background-color:rgba(0,0,0,.05)
}
hr {
    border:1px solid #e2e2e2;
    margin-bottom:20px
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table
}
.clearfix:after {
    clear:both
}
.clearfix {
    *zoom:1;
}
.clear:before,.clear:after {
    content:"";
    display:table
}
.clear:after {
    clear:both
}
.clear {
    *zoom:1;
}
.f-l {
    float:left
}
.f-r {
    float:right
}


.m-common-header{

    background: url(/static/module/child/images/h-b-l.png) repeat-x #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
}

.m-common-header .u-header-main{
	height: 85px;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.m-common-header .u-header-main .main-logo {
    height: 118px;
    width: 110px;
    float: left;
    display: block;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
    margin-left: 20px;
}
.m-common-header .u-header-main .main-nav {
    margin-left: 160px;
}

.m-common-header .u-header-main .main-nav .nav-left {
	float: left;
    margin-top: 46px;
    height: 38px;
    cursor: pointer;
    margin-right: 20px;
}
.m-common-header .u-header-main .main-nav .nav-left a {
    font-weight: normal;
    font-size: 14px;
    padding: 7px 10px;
    vertical-align: middle;
    display: inline-block;
    color: #000;
}
.m-common-header .u-header-main .main-nav .nav-left a:hover {
    background-color: #f5f5f5;
    padding: 7px 10px;
}
.m-common-header .u-header-main .main-nav .nav-left a.active {
    color: #fff;
    background-color: #000;
}
.m-common-header .u-header-main .main-nav .nav-left a.active:hover {
    background-color: #445;
}
.m-common-header .u-header-main .main-nav .nav-right {
	float: right;
    margin-top: 46px;
    height: 38px;
    cursor: pointer;
    margin-right: 20px;
}

.m-common-header .u-header-main .main-nav .nav-right span{
    font-weight: normal;
    font-size: 14px;
    padding: 7px 10px;
    vertical-align: middle;
    display: inline-block;
    color: #000;
}

.m-common-footer {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.22);
}


.m-common-footer .u-footer-footermain {
    padding: 10px 0;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}
.m-common-footer .u-footer-footermain .footermain-links {
    padding: 10px;
    margin: 0 0 20px 10px;
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
}
.m-common-footer .u-footer-footermain .footermain-links a {
    color: #000;
    text-decoration: none;
}
.m-common-footer .u-footer-footermain .footermain-links a + a {
    margin-left: 10px;
}

.m-common-footer .u-footer-footermain .footermain-about {
    padding: 0 10px;
}

.m-common-footer .u-footer-footermain .footermain-about a {
    margin-right: 10px;
    color: #000;
    font-weight: bold;
}
.m-common-footer .u-footer-footermain .footermain-about .copy{
    margin-top: 5px;
    color: #aaa;
}
.m-common-footer .u-footer-footermain .footermain-about .copy a {
    color: #aaa;
    font-weight: normal;
}
.m-common-footer .u-footer-footermain .footermain-logo {
    width: 60px;
}

.m-common-content-main{
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    max-width: 1100px;
}

.m-common-content-leftmain{
    width: 72%;
    padding: 0 0 0 20px;
    float: left;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    letter-spacing: 0;

}

.m-common-content-rightmain{
    width: 28%;
    padding: 0 20px 0 20px;
    float: right;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    letter-spacing: 0;
}