.m-index-mainlist{
    background: #fff;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
    border-radius: 3px;
    margin: 0px -1px;
}

.m-index-mainlist .u-mainlist-pageinfo{
	padding: 1px;
}

.m-index-mainlist .u-mainlist-pageinfo h1{
	font-size: 16px;
	padding: 10px 10px 0 10px;
	font-weight: bold;
	line-height: 1;
}

.m-index-mainlist .u-mainlist-pageinfo p{
	padding: 5px 10px;
	font-size: 13px;
}

.m-index-mainlist .u-mainlist-subnav {
    padding: 5px 10px;
}

.m-index-mainlist .u-mainlist-subnav li {
    display: inline-block;
    font-size: 15px;
}

.m-index-mainlist .u-mainlist-subnav li.active a{
    color: #fff;
    background-color: #000;
}

.m-index-mainlist .u-mainlist-subnav li a{
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 13px;
}
.m-index-mainlist .u-mainlist-subnav li a:hover {
    background-color: #f5f5f5;
}

.m-index-mainlist .u-mainlist-subnav li + li {
    margin-left: 10px;
}

.m-index-mainlist .u-mainlist-tags{
	background-color: #eef0f2;
	padding: 6px 10px;
	border-bottom: 1px solid rgba(0,0,0,.13);
	margin-bottom: 10px;
	position: relative;
}

.m-index-mainlist .u-mainlist-tags span {
    font-weight: bold;
}

.m-index-mainlist .u-mainlist-tags a {
    margin-right: 15px;
    color: #778087;
    font-size: 12px;
    padding: 0;
}
.m-index-mainlist .u-mainlist-content {

}

.m-index-mainlist .u-mainlist-content .content-item{
	margin-bottom: 40px;
}

.m-index-mainlist .u-mainlist-content .content-item header{
	line-height: 14px;
	margin-left: -3px;
	border-left: 3px solid #000;
	padding: 0 10px;
}


.m-index-mainlist .u-mainlist-content .content-item header .item-avatar{
	float: right;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.m-index-mainlist .u-mainlist-content .content-item header .item-avatar img {
    border-radius: 100%;
    display: block;
    height: 20px;
    width: 20px;
}
.m-index-mainlist .u-mainlist-content .content-item header .item-title {
    font-size: 18px;
    margin-right: 36px;
    line-height: 20px;
    margin-bottom: 5px;
}
.m-index-mainlist .u-mainlist-content .content-item header .item-title a:hover {
    color: #000;
    text-decoration: underline;
}

.m-index-mainlist .u-mainlist-content .content-item .item-authorinfo {
    padding: 5px 10px;
    color: #ccc;
    border-top: 1px solid #e2e2e2;
}

.m-index-mainlist .u-mainlist-content .content-item .item-authorinfo .author:hover {
    background-color: #e2e2e2;
    color: #777;
}
.m-index-mainlist .u-mainlist-content .content-item .item-authorinfo .author {
    display: inline-table;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 10px;
    line-height: 10px;
    padding: 4px;
    color: #999;
}

.m-index-mainlist .u-mainlist-content .content-item .item-authorinfo b {
    font-weight: normal;
    color: #000;
}



.m-index-mainlist .u-mainlist-content .content-item .item-content {
	padding: 0 10px;
	cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.m-index-mainlist .u-mainlist-content .content-item .item-content .content-center {
    background: #eef0f2;
}

.m-index-mainlist .u-mainlist-content .content-item .item-content p{
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-ideograph;
    word-break: initial;
    word-break: break-word;
}

.m-index-mainlist .u-mainlist-content .content-thisimg{
    width: 181px;
    height: 113px;
    display: block;
    line-height: 1;
    position: relative;
    margin-right: 10px;
    background-color: #f0f0f0;
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
}

.m-index-mainlist .u-mainlist-content .content-rightarticle{
	border-left: 1px solid #e2e2e2;
	margin-left: 10px;
	display: inline-table;
	float: right;
}
.m-index-mainlist .u-mainlist-content .content-rightarticle .rightarticle-main{
	display: block;
    width: 139px;
	padding: 0 0 0 10px;
	line-height: 1;
}

.m-index-mainlist .u-mainlist-content .content-rightarticle .rightarticle-main b {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
    word-break: initial;
    max-height: 36px;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #fff;
}
.m-index-mainlist .u-mainlist-content .content-rightarticle .rightarticle-main b:hover {
    border-bottom: 1px solid #ccc;
}
.m-index-mainlist .u-mainlist-content .content-rightarticle .rightarticle-main .articlemain-bg {
    height: 72px;
    width: 139px;
	display: inline-flex;
	position: relative;
	background-color: #f0f0f0;
	background-origin: border-box;
	background-position: center center;
	background-size: cover;

}

.m-index-mainlist .u-mainlist-content  .content-thiscomment{
	margin-top: 15px;
}
.m-index-mainlist .u-mainlist-content  .content-thiscomment .thiscomment-avatar{
	width: 38px;
	height: 38px;
}
.m-index-mainlist .u-mainlist-content  .content-thiscomment .thiscomment-avatar img{
	width: 100%;
	height: 100%;
}
.m-index-mainlist .u-mainlist-content  .content-thiscomment .thiscomment-info{
	padding: 0 10px;
	margin-left: 236px;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	border: 1px dashed #ccc;
}

.m-index-mainlist .u-mainlist-content .content-images{
	margin-top: 10px;
}

.m-index-mainlist .u-mainlist-content .content-images span{
	padding: 0 5px;
	width: 175px;
	height: 113px;
	display: inline-flex;
	position: relative;
	background-color: #f0f0f0;
	background-origin: border-box;
	background-position: center center;
	background-size: cover;
}

