.m-public-scroll {height: 230px;position:relative;}
.m-public-scroll .box{overflow:hidden;width:920px;margin:0px auto;padding: 15px 0px;}
.m-public-scroll .list{overflow:hidden;width:9999px;}
.m-public-scroll .list li{width: 230px;float: left;text-align: center;margin: 0px;padding: 0px;text-align: center;}
.m-public-scroll .list li .storename{font-size:12px; width: 210px;  line-height:28px; text-align: center;overflow: hidden;margin: auto;}
.m-public-scroll .prev{background: url(/static/plugins/cxscroll/images/arrow_main.png) no-repeat right top ;display: block;position: absolute;left: 0px;top: 75px;width: 50px;height: 30px; cursor: pointer;background-position: 20px -50px}
.m-public-scroll .next{background: url(/static/plugins/cxscroll/images/arrow_main.png) no-repeat right top ;display: block;position: absolute;right: 0px;top: 75px;width: 50px;height: 30px; cursor: pointer;background-position: 20px -90px}
.m-public-scroll a.next:hover{background-position: -30px -90px;}
.m-public-scroll a.prev:hover{background-position: -30px -50px;}
.m-public-scroll .prev:hover{background-position:0 -50px;}
.m-public-scroll .next:hover{background-position:-40px -50px;}