.m-public-rightbox{width: 42px;height: auto;border: 1px solid #ccc;position: fixed;right: 0;top: 190px;z-index: 200;}
.m-public-rightbox ul li { width: 38px; display: block; height: 40px; padding: 2px; overflow: hidden; }
.m-public-rightbox .rficon{ background: url('/static/module/home/images/elevator.png') no-repeat;  -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;}
.m-public-rightbox .right_weixin {background-position: -54px -1148px;}
.m-public-rightbox .right_weixin:hover { background-position: -54px -1210px;}
.m-public-rightbox .right_weixin:hover .right_weixin-logo { width: 170px; height: 204px;}
.m-public-rightbox .right_weixin-logo {background-position:0 -295px; width: 0; height: 0;overflow: hidden;position: absolute; top: 0; left: -171px;}
.m-public-rightbox .right_xinlang {background-position:-54px -1579px;}
.m-public-rightbox .right_xinlang:hover { background-position:-54px -1641px;}
.m-public-rightbox .right_xinlang:hover .right_xinlang-logo { width: 170px; height: 204px;}
.m-public-rightbox .right_xinlang-logo {background-position:0 -87px; width: 0; height: 0;overflow: hidden;position: absolute; top: 44px; left: -171px;}
.m-public-rightbox .right_idea {background-position:-54px -718px; }
.m-public-rightbox .right_idea:hover {background-position:-54px -781px;}
.m-public-rightbox .right_qq {background-position:-54px -1456px; }
.m-public-rightbox .right_qq:hover {background-position:-54px -1518px;}
.m-public-rightbox .right_qq a{display: block;width:100%;height: 100%;}
.m-public-rightbox .right_zxjl { background-position:-54px -966px;}
.m-public-rightbox .right_zxjl:hover { background-position:-54px -1028px;}
.m-public-rightbox .right_idea a{display: block;width:100%;height: 100%;}
.m-public-rightbox .right_zxjl em{ text-align: center; height:8px; background-color: #FF0000; display: block; color: #fff; padding: 2px;font: normal 8px/8px "宋体"; position: absolute;
  top: 220px; left:0;  -webkit-border-radius:8px; -o-border-radius:8px; -moz-border-radius:8px; -ms-border-radius:8px;}
.m-public-rightbox .right_zxjl a{display: block;width:100%;height: 100%;}
.m-public-rightbox .right_app { background-position:-54px -843px;}
.m-public-rightbox .right_app:hover { background-position:-54px -905px;}
.m-public-rightbox .right_app:hover .right_app-logo {width: 170px; height:72px; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg);-o-transform: rotate(360deg);}
.m-public-rightbox .right_app-logo { background-position:-54px -514px; width: 0; height: 0; overflow: hidden; position: absolute; top: 218px; left: -171px; }
.m-public-rightbox .right_tel { background-position:-54px -1333px;}
.m-public-rightbox .right_tel:hover { background-position:-54px -1396px;}
.m-public-rightbox .right_tel:hover .right_tel-logo {width: 170px; height: 72px; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg);
}
.m-public-rightbox .right_tel-logo { background-position: 0 0; width: 0; height: 0; overflow: hidden; position: absolute; top:132px; left: -171px; }